In [92]:
import os
import yaml
import pandas as pd

BASE_DIR = r"C:/Users/Karthika/Downloads/data"

symbol_data = {}
all_rows = []  


for month_folder in os.listdir(BASE_DIR):
    month_path = os.path.join(BASE_DIR, month_folder)
    if not os.path.isdir(month_path):
        continue
    
    for filename in os.listdir(month_path):
        if filename.endswith(".yaml"):
            file_path = os.path.join(month_path, filename)

            with open(file_path, "r") as file:
                data = yaml.safe_load(file)

           
            if isinstance(data, dict):
                data = list(data.values())[0]

            for entry in data:
                symbol = entry["Ticker"]

                row = entry.copy()

             
                symbol_data.setdefault(symbol, []).append(row)

                
                all_rows.append(row)


OUTPUT_DIR = r"C:/Users/Karthika/Downloads/output_csv"
os.makedirs(OUTPUT_DIR, exist_ok=True)


combined_csv_path = os.path.join(OUTPUT_DIR, "combined_output.csv")
pd.DataFrame(all_rows).to_csv(combined_csv_path, index=False)
print("Combined CSV created:", combined_csv_path)


for symbol, rows in symbol_data.items():
    df = pd.DataFrame(rows)
    df.to_csv(f"{OUTPUT_DIR}/{symbol}.csv", index=False)

print("Symbol-wise CSV files created successfully!")

Combined CSV created: C:/Users/Karthika/Downloads/output_csv\combined_output.csv
Symbol-wise CSV files created successfully!

In [121]:
df=pd.read_csv("C:/Users/Karthika/Downloads/output_csv/combined_output.csv")
df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11,9545.00,619823

In [94]:
df.duplicated().sum()

np.int64(0)

In [95]:
df.dtypes

Ticker     object
close     float64
date       object
high      float64
low       float64
month      object
open      float64
volume      int64
dtype: object

In [96]:
df[["date", "month"]] = df[["date", "month"]].apply(pd.to_datetime)

In [97]:
df.dtypes

Ticker            object
close            float64
date      datetime64[ns]
high             float64
low              float64
month     datetime64[ns]
open             float64
volume             int64
dtype: object

In [8]:
df["Date"] = df["date"].dt.date
df["Time"] = df["date"].dt.time

In [98]:
df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10-01,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10-01,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10-01,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10-01,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10-01,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11-01,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11-01,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11-01,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11-01,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11-01,9545.00,619823

In [99]:
df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10-01,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10-01,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10-01,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10-01,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10-01,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11-01,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11-01,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11-01,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11-01,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11-01,9545.00,619823

In [11]:
temp=df[df["Ticker"]=="TRENT"]
temp

,Ticker,close,date,high,low,month,open,volume,Date,Time
13,TRENT,2059.10,2023-10-03 05:30:00,2086.30,2052.00,2023-10-01,2074.30,543387,2023-10-03,05:30:00
63,TRENT,2022.30,2023-10-04 05:30:00,2055.95,2007.60,2023-10-01,2054.00,551771,2023-10-04,05:30:00
113,TRENT,2047.60,2023-10-05 05:30:00,2058.15,2022.30,2023-10-01,2022.95,461744,2023-10-05,05:30:00
163,TRENT,2072.10,2023-10-06 05:30:00,2091.90,2050.10,2023-10-01,2055.85,444220,2023-10-06,05:30:00
213,TRENT,2079.05,2023-10-09 05:30:00,2089.45,2032.40,2023-10-01,2035.00,487722,2023-10-09,05:30:00
...,...,...,...,...,...,...,...,...,...,...
13963,TRENT,6463.00,2024-11-14 05:30:00,6550.30,6367.05,2024-11-01,6496.00,620489,2024-11-14,05:30:00
14013,TRENT,6301.65,2024-11-18 05:30:00,6453.00,6275.00,2024-11-01,6411.60,828906,2024-11-18,05:30:00
14063,TRENT,6423.85,2024-11-19 05:30:00,6579.90,6359.80,2024-11-01,6359.85,674042,2024-11-19,05:30:00
14113,TRENT,6460.45,2024-11-21 05:30:00,6519.00,6346.20,2024-11-01,6400.00,1511541,2024-11-21,05:30:00
14163,TRENT,6652.80,2024-11-22 05:30:00,6678.00,6430.00,2024-11-01,6459.90,833104,2024-11-22,05:30:00

In [12]:
open_1=temp.iloc[0]["open"]
open_1

np.float64(2074.3)

In [13]:
close_1=temp.iloc[-1]["close"]
close_1

np.float64(6652.8)

In [14]:
percentage=(close_1-open_1)/open_1
percentage*100

np.float64(220.72506387697052)

In [15]:
df["Year"] = df["date"].dt.year

In [16]:

results = []

for ticker in df["Ticker"].unique():
    ticker_df = df[df["Ticker"] == ticker]

    # 2023 data (for Open)
    df_2023 = ticker_df[ticker_df["Year"] == 2023].sort_values("date")

    # 2024 data (for Close)
    df_2024 = ticker_df[ticker_df["Year"] == 2024].sort_values("date")

    # Skip if missing any year
    if df_2023.empty or df_2024.empty:
        continue

    open_2023 = df_2023.iloc[0]["open"]       
    close_2024 = df_2024.iloc[-1]["close"]     

    return_pct = ((close_2024 - open_2023) / open_2023) * 100

    results.append({
        "Ticker": ticker,
        "Open_2023": round(open_2023, 2),
        "Close_2024": round(close_2024, 2),
        "Return_2023_2024_%": round(return_pct, 2)
    })

result_df = pd.DataFrame(results)
result_df

        Ticker  Open_2023  Close_2024  Return_2023_2024_%
0         SBIN     596.60      816.05               36.78
1   BAJFINANCE    7780.80     6683.95              -14.10
2        TITAN    3148.80     3308.70                5.08
3          ITC     441.00      474.65                7.63
4          TCS    3534.20     4244.60               20.10
5           LT    3040.50     3603.50               18.52
6   TATACONSUM     859.32      945.20                9.99
7     RELIANCE    1164.97     1265.40                8.62
8      HCLTECH    1232.50     1898.40               54.03
9     JSWSTEEL     776.55      977.35               25.86
10  ULTRACEMCO    8289.00    11375.30               37.23
11   POWERGRID     198.75      336.95               69.53
12        INFY    1436.05     1902.25               32.46
13       TRENT    2074.30     6652.80              220.73
14  BHARTIARTL     918.25     1569.30               70.90
15  TATAMOTORS     632.60      791.00               25.04
16       WIPRO     406.45      571.65               40.64
17       TECHM    1220.60     1747.45               43.16
18        NTPC     244.35      365.45               49.56
19  HINDUNILVR    2490.00     2445.25               -1.80
20  APOLLOHOSP    5138.95     6935.10               34.95
21         M&M    1597.20     3012.95               88.64
22      GRASIM    1920.46     2598.65               35.31
23   ICICIBANK     951.60     1278.05               34.31
24    ADANIENT    2418.00     2228.00               -7.86
25  ADANIPORTS     826.00     1136.75               37.62
26         BEL     137.90      280.85              103.66
27  BAJAJFINSV    1530.25     1600.85                4.61
28   EICHERMOT    3426.90     4986.20               45.50
29   COALINDIA     297.05      414.05               39.39
30      MARUTI   10709.80    11063.60                3.30
31  INDUSINDBK    1432.00      998.20              -30.29
32  ASIANPAINT    3166.10     2472.20              -21.92
33   TATASTEEL     129.00      142.78               10.68
34    HDFCLIFE     634.45      688.20                8.47
35     DRREDDY    1117.38     1214.45                8.69
36   SUNPHARMA    1159.55     1795.30               54.83
37   KOTAKBANK    1730.00     1761.45                1.82
38  SHRIRAMFIN    1938.00     2850.05               47.06
39   NESTLEIND    2250.69     2247.30               -0.15
40        ONGC     189.30      245.60               29.74
41       CIPLA    1184.00     1486.50               25.55
42        BPCL     174.25      285.85               64.05
43   BRITANNIA    4524.80     4848.35                7.15
44     SBILIFE    1302.15     1485.15               14.05
45    HINDALCO     483.10      652.10               34.98
46  HEROMOTOCO    3058.00     4794.10               56.77
47    AXISBANK    1035.00     1142.40               10.38
48    HDFCBANK    1527.00     1745.60               14.32
49  BAJAJ-AUTO    5065.00     9481.65               87.20

In [17]:
top_5_cumlative = (
    result_df
    .sort_values("Return_2023_2024_%", ascending=False)
    .head(5)
    .reset_index(drop=True)
)

top_5_cumlative

       Ticker  Open_2023  Close_2024  Return_2023_2024_%
0       TRENT    2074.30     6652.80              220.73
1         BEL     137.90      280.85              103.66
2         M&M    1597.20     3012.95               88.64
3  BAJAJ-AUTO    5065.00     9481.65               87.20
4  BHARTIARTL     918.25     1569.30               70.90

In [136]:
plot_df = pd.melt(
    top_5_cumlative,
    id_vars=['Ticker'],
    value_vars=['Open_2023', 'Close_2024'],
    var_name='Year',
    value_name='Price'
)
plot_df

       Ticker        Year    Price
0       TRENT   Open_2023  2074.30
1         BEL   Open_2023   137.90
2         M&M   Open_2023  1597.20
3  BAJAJ-AUTO   Open_2023  5065.00
4  BHARTIARTL   Open_2023   918.25
5       TRENT  Close_2024  6652.80
6         BEL  Close_2024   280.85
7         M&M  Close_2024  3012.95
8  BAJAJ-AUTO  Close_2024  9481.65
9  BHARTIARTL  Close_2024  1569.30

In [138]:
plot_df['Year'] = plot_df['Year'].str.replace('Open_', '').str.replace('Close_', '')
plot_df

       Ticker  Year    Price
0       TRENT  2023  2074.30
1         BEL  2023   137.90
2         M&M  2023  1597.20
3  BAJAJ-AUTO  2023  5065.00
4  BHARTIARTL  2023   918.25
5       TRENT  2024  6652.80
6         BEL  2024   280.85
7         M&M  2024  3012.95
8  BAJAJ-AUTO  2024  9481.65
9  BHARTIARTL  2024  1569.30

In [139]:
plot_df.to_csv("plot_df",index=False)

In [122]:
df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11,9545.00,619823

In [102]:
df.dtypes

Ticker            object
close            float64
date      datetime64[ns]
high             float64
low              float64
month     datetime64[ns]
open             float64
volume             int64
dtype: object

In [103]:
unique_ticker_close = (df.sort_values("month")
                       .groupby("Ticker", as_index=False).last()[["Ticker", "close","month"]])

In [104]:
unique_ticker_close

        Ticker     close      month
0     ADANIENT   2970.10 2024-11-01
1   ADANIPORTS   1353.10 2024-11-01
2   APOLLOHOSP   7424.85 2024-11-01
3   ASIANPAINT   2842.85 2024-11-01
4     AXISBANK   1159.90 2024-11-01
5   BAJAJ-AUTO   9481.65 2024-11-01
6   BAJAJFINSV   1729.70 2024-11-01
7   BAJFINANCE   6895.95 2024-11-01
8          BEL    300.35 2024-11-01
9   BHARTIARTL   1575.80 2024-11-01
10        BPCL    315.00 2024-11-01
11   BRITANNIA   5688.90 2024-11-01
12       CIPLA   1576.15 2024-11-01
13   COALINDIA    435.35 2024-11-01
14     DRREDDY   1287.35 2024-11-01
15   EICHERMOT   4878.00 2024-11-01
16      GRASIM   2562.70 2024-11-01
17     HCLTECH   1837.50 2024-11-01
18    HDFCBANK   1746.55 2024-11-01
19    HDFCLIFE    711.70 2024-11-01
20  HEROMOTOCO   4816.00 2024-11-01
21    HINDALCO    648.10 2024-11-01
22  HINDUNILVR   2475.50 2024-11-01
23   ICICIBANK   1278.70 2024-11-01
24  INDUSINDBK   1056.80 2024-11-01
25        INFY   1803.05 2024-11-01
26         ITC    478.05 2024-11-01
27    JSWSTEEL    989.80 2024-11-01
28   KOTAKBANK   1746.90 2024-11-01
29          LT   3660.30 2024-11-01
30         M&M   2891.35 2024-11-01
31      MARUTI  11300.15 2024-11-01
32   NESTLEIND   2262.85 2024-11-01
33        NTPC    403.80 2024-11-01
34        ONGC    265.20 2024-11-01
35   POWERGRID    312.95 2024-11-01
36    RELIANCE   1283.75 2024-11-01
37     SBILIFE   1589.85 2024-11-01
38        SBIN    843.15 2024-11-01
39  SHRIRAMFIN   3070.15 2024-11-01
40   SUNPHARMA   1790.95 2024-11-01
41  TATACONSUM    992.95 2024-11-01
42  TATAMOTORS    819.75 2024-11-01
43   TATASTEEL    150.95 2024-11-01
44         TCS   4147.00 2024-11-01
45       TECHM   1651.00 2024-11-01
46       TITAN   3186.25 2024-11-01
47       TRENT   6505.50 2024-11-01
48  ULTRACEMCO  11043.35 2024-11-01
49       WIPRO    563.40 2024-11-01

In [125]:
df['month'] = pd.to_datetime(df['month']).dt.date

In [126]:
top_5_close = (
    unique_ticker_close
    .sort_values(by='close', ascending=False)
    .head(5)
    .reset_index(drop=True)
)
top_5_close

       Ticker     close      month
0      MARUTI  11300.15 2024-11-01
1  ULTRACEMCO  11043.35 2024-11-01
2  BAJAJ-AUTO   9481.65 2024-11-01
3  APOLLOHOSP   7424.85 2024-11-01
4  BAJFINANCE   6895.95 2024-11-01

In [20]:
top_5_cumlative.to_csv("top_5_cumlative", index=False)

In [127]:
top_5_close.to_csv("top_5_close",index=False)

#Volatility Analysis:

In [21]:
df

,Ticker,close,date,high,low,month,open,volume,Date,Time,Year
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10-01,596.60,15322196,2023-10-03,05:30:00,2023
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10-01,7780.80,944555,2023-10-03,05:30:00,2023
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10-01,3148.80,1007308,2023-10-03,05:30:00,2023
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10-01,441.00,7481883,2023-10-03,05:30:00,2023
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10-01,3534.20,1948148,2023-10-03,05:30:00,2023
...,...,...,...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11-01,652.95,3586402,2024-11-22,05:30:00,2024
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11-01,4778.40,394712,2024-11-22,05:30:00,2024
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11-01,1136.65,16687505,2024-11-22,05:30:00,2024
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11-01,1743.55,12386806,2024-11-22,05:30:00,2024
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11-01,9545.00,619823,2024-11-22,05:30:00,2024

In [22]:
temp_1 = df[df["Ticker"]=="TRENT"]
temp_1

,Ticker,close,date,high,low,month,open,volume,Date,Time,Year
13,TRENT,2059.10,2023-10-03 05:30:00,2086.30,2052.00,2023-10-01,2074.30,543387,2023-10-03,05:30:00,2023
63,TRENT,2022.30,2023-10-04 05:30:00,2055.95,2007.60,2023-10-01,2054.00,551771,2023-10-04,05:30:00,2023
113,TRENT,2047.60,2023-10-05 05:30:00,2058.15,2022.30,2023-10-01,2022.95,461744,2023-10-05,05:30:00,2023
163,TRENT,2072.10,2023-10-06 05:30:00,2091.90,2050.10,2023-10-01,2055.85,444220,2023-10-06,05:30:00,2023
213,TRENT,2079.05,2023-10-09 05:30:00,2089.45,2032.40,2023-10-01,2035.00,487722,2023-10-09,05:30:00,2023
...,...,...,...,...,...,...,...,...,...,...,...
13963,TRENT,6463.00,2024-11-14 05:30:00,6550.30,6367.05,2024-11-01,6496.00,620489,2024-11-14,05:30:00,2024
14013,TRENT,6301.65,2024-11-18 05:30:00,6453.00,6275.00,2024-11-01,6411.60,828906,2024-11-18,05:30:00,2024
14063,TRENT,6423.85,2024-11-19 05:30:00,6579.90,6359.80,2024-11-01,6359.85,674042,2024-11-19,05:30:00,2024
14113,TRENT,6460.45,2024-11-21 05:30:00,6519.00,6346.20,2024-11-01,6400.00,1511541,2024-11-21,05:30:00,2024
14163,TRENT,6652.80,2024-11-22 05:30:00,6678.00,6430.00,2024-11-01,6459.90,833104,2024-11-22,05:30:00,2024

In [23]:
df

,Ticker,close,date,high,low,month,open,volume,Date,Time,Year
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10-01,596.60,15322196,2023-10-03,05:30:00,2023
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10-01,7780.80,944555,2023-10-03,05:30:00,2023
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10-01,3148.80,1007308,2023-10-03,05:30:00,2023
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10-01,441.00,7481883,2023-10-03,05:30:00,2023
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10-01,3534.20,1948148,2023-10-03,05:30:00,2023
...,...,...,...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11-01,652.95,3586402,2024-11-22,05:30:00,2024
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11-01,4778.40,394712,2024-11-22,05:30:00,2024
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11-01,1136.65,16687505,2024-11-22,05:30:00,2024
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11-01,1743.55,12386806,2024-11-22,05:30:00,2024
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11-01,9545.00,619823,2024-11-22,05:30:00,2024

In [24]:
df.loc[0]

Ticker                   SBIN
close                  602.95
date      2023-10-03 05:30:00
high                    604.9
low                     589.6
month     2023-10-01 00:00:00
open                    596.6
volume               15322196
Date               2023-10-03
Time                 05:30:00
Year                     2023
Name: 0, dtype: object

In [25]:
df.loc[1]

Ticker             BAJFINANCE
close                  7967.6
date      2023-10-03 05:30:00
high                   7975.5
low                    7755.0
month     2023-10-01 00:00:00
open                   7780.8
volume                 944555
Date               2023-10-03
Time                 05:30:00
Year                     2023
Name: 1, dtype: object

In [26]:
results = []


for ticker in df["Ticker"].unique():
    ticker_df = df[df["Ticker"] == ticker].sort_values("Date")


    for i in range(1, len(ticker_df)):
        prev_close = ticker_df.iloc[i - 1]["close"]
        curr_close = ticker_df.iloc[i]["close"]

        daily_return = (curr_close - prev_close) / prev_close

        results.append({
            "Ticker": ticker,
            "Date": ticker_df.iloc[i]["Date"],
            "Prev_Close": round(prev_close, 2),
            "Close": round(curr_close, 2),
            "Daily_Return": round(daily_return, 6)
        })

daily_return_df = pd.DataFrame(results)
daily_return_df

           Ticker        Date  Prev_Close    Close  Daily_Return
0            SBIN  2023-10-04      602.95   586.25     -0.027697
1            SBIN  2023-10-05      586.25   592.15      0.010064
2            SBIN  2023-10-06      592.15   594.25      0.003546
3            SBIN  2023-10-09      594.25   585.10     -0.015398
4            SBIN  2023-10-10      585.10   591.65      0.011195
...           ...         ...         ...      ...           ...
14145  BAJAJ-AUTO  2024-11-14     9452.15  9482.95      0.003259
14146  BAJAJ-AUTO  2024-11-18     9482.95  9516.50      0.003538
14147  BAJAJ-AUTO  2024-11-19     9516.50  9545.70      0.003068
14148  BAJAJ-AUTO  2024-11-21     9545.70  9505.00     -0.004264
14149  BAJAJ-AUTO  2024-11-22     9505.00  9481.65     -0.002457

[14150 rows x 5 columns]

In [27]:
daily_return_df["Std_Dev"] = (
    daily_return_df
    .groupby("Ticker")["Daily_Return"]
    .transform("std")
)
daily_return_df

           Ticker        Date  Prev_Close    Close  Daily_Return   Std_Dev
0            SBIN  2023-10-04      602.95   586.25     -0.027697  0.017939
1            SBIN  2023-10-05      586.25   592.15      0.010064  0.017939
2            SBIN  2023-10-06      592.15   594.25      0.003546  0.017939
3            SBIN  2023-10-09      594.25   585.10     -0.015398  0.017939
4            SBIN  2023-10-10      585.10   591.65      0.011195  0.017939
...           ...         ...         ...      ...           ...       ...
14145  BAJAJ-AUTO  2024-11-14     9452.15  9482.95      0.003259  0.017609
14146  BAJAJ-AUTO  2024-11-18     9482.95  9516.50      0.003538  0.017609
14147  BAJAJ-AUTO  2024-11-19     9516.50  9545.70      0.003068  0.017609
14148  BAJAJ-AUTO  2024-11-21     9545.70  9505.00     -0.004264  0.017609
14149  BAJAJ-AUTO  2024-11-22     9505.00  9481.65     -0.002457  0.017609

[14150 rows x 6 columns]

In [28]:
top_10_volatility = (
    daily_return_df.groupby("Ticker", as_index=False)["Std_Dev"]
      .mean()
      .sort_values("Std_Dev", ascending=False)
      .head(10)
)
top_10_volatility

        Ticker   Std_Dev
0     ADANIENT  0.028601
1   ADANIPORTS  0.026029
8          BEL  0.023283
47       TRENT  0.023074
34        ONGC  0.022247
10        BPCL  0.022069
39  SHRIRAMFIN  0.021687
13   COALINDIA  0.021411
21    HINDALCO  0.019587
33        NTPC  0.019475

In [29]:
top_10_volatility.to_csv("top_10_volatility", index=False)

#Yearly Return

In [101]:
df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10-01,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10-01,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10-01,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10-01,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10-01,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11-01,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11-01,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11-01,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11-01,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11-01,9545.00,619823

In [31]:
stock_prices = (
    df.groupby("Ticker")
      .agg(
          Start_Price=("open", "first"),
          End_Price=("close", "last"),
          Avg_Volume=("volume", "mean")
      )
      .reset_index()
)
stock_prices

        Ticker  Start_Price  End_Price    Avg_Volume
0     ADANIENT      2418.00    2228.00  2.356295e+06
1   ADANIPORTS       826.00    1136.75  4.814567e+06
2   APOLLOHOSP      5138.95    6935.10  4.324730e+05
3   ASIANPAINT      3166.10    2472.20  1.214614e+06
4     AXISBANK      1035.00    1142.40  9.618030e+06
5   BAJAJ-AUTO      5065.00    9481.65  5.024066e+05
6   BAJAJFINSV      1530.25    1600.85  1.569382e+06
7   BAJFINANCE      7780.80    6683.95  1.179193e+06
8          BEL       137.90     280.85  2.847245e+07
9   BHARTIARTL       918.25    1569.30  6.171184e+06
10        BPCL       174.25     285.85  1.617056e+07
11   BRITANNIA      4524.80    4848.35  3.459959e+05
12       CIPLA      1184.00    1486.50  1.817625e+06
13   COALINDIA       297.05     414.05  1.191832e+07
14     DRREDDY      1117.38    1214.45  2.062055e+06
15   EICHERMOT      3426.90    4986.20  6.356576e+05
16      GRASIM      1920.46    2598.65  8.006534e+05
17     HCLTECH      1232.50    1898.40  2.979916e+06
18    HDFCBANK      1527.00    1745.60  2.004888e+07
19    HDFCLIFE       634.45     688.20  4.379828e+06
20  HEROMOTOCO      3058.00    4794.10  7.327229e+05
21    HINDALCO       483.10     652.10  6.997897e+06
22  HINDUNILVR      2490.00    2445.25  1.872680e+06
23   ICICIBANK       951.60    1278.05  1.494938e+07
24  INDUSINDBK      1432.00     998.20  3.947159e+06
25        INFY      1436.05    1902.25  6.755539e+06
26         ITC       441.00     474.65  1.412731e+07
27    JSWSTEEL       776.55     977.35  2.225052e+06
28   KOTAKBANK      1730.00    1761.45  5.336166e+06
29          LT      3040.50    3603.50  2.418357e+06
30         M&M      1597.20    3012.95  3.093708e+06
31      MARUTI     10709.80   11063.60  5.608613e+05
32   NESTLEIND      2250.69    2247.30  9.324183e+05
33        NTPC       244.35     365.45  1.663994e+07
34        ONGC       189.30     245.60  1.869071e+07
35   POWERGRID       198.75     336.95  1.752909e+07
36    RELIANCE      1164.97    1265.40  1.257211e+07
37     SBILIFE      1302.15    1485.15  1.349238e+06
38        SBIN       596.60     816.05  1.740825e+07
39  SHRIRAMFIN      1938.00    2850.05  1.420213e+06
40   SUNPHARMA      1159.55    1795.30  2.198935e+06
41  TATACONSUM       859.32     945.20  1.728553e+06
42  TATAMOTORS       632.60     791.00  1.209171e+07
43   TATASTEEL       129.00     142.78  4.394229e+07
44         TCS      3534.20    4244.60  2.322424e+06
45       TECHM      1220.60    1747.45  2.179249e+06
46       TITAN      3148.80    3308.70  1.142674e+06
47       TRENT      2074.30    6652.80  8.820246e+05
48  ULTRACEMCO      8289.00   11375.30  3.525598e+05
49       WIPRO       406.45     571.65  7.784438e+06

In [32]:
stock_prices["Return_%"] = (
    (stock_prices["End_Price"] - stock_prices["Start_Price"])
    / stock_prices["Start_Price"]
) * 100
stock_prices

        Ticker  Start_Price  End_Price    Avg_Volume    Return_%
0     ADANIENT      2418.00    2228.00  2.356295e+06   -7.857734
1   ADANIPORTS       826.00    1136.75  4.814567e+06   37.621065
2   APOLLOHOSP      5138.95    6935.10  4.324730e+05   34.951692
3   ASIANPAINT      3166.10    2472.20  1.214614e+06  -21.916553
4     AXISBANK      1035.00    1142.40  9.618030e+06   10.376812
5   BAJAJ-AUTO      5065.00    9481.65  5.024066e+05   87.199408
6   BAJAJFINSV      1530.25    1600.85  1.569382e+06    4.613625
7   BAJFINANCE      7780.80    6683.95  1.179193e+06  -14.096879
8          BEL       137.90     280.85  2.847245e+07  103.662074
9   BHARTIARTL       918.25    1569.30  6.171184e+06   70.901171
10        BPCL       174.25     285.85  1.617056e+07   64.045911
11   BRITANNIA      4524.80    4848.35  3.459959e+05    7.150592
12       CIPLA      1184.00    1486.50  1.817625e+06   25.548986
13   COALINDIA       297.05     414.05  1.191832e+07   39.387309
14     DRREDDY      1117.38    1214.45  2.062055e+06    8.687286
15   EICHERMOT      3426.90    4986.20  6.356576e+05   45.501765
16      GRASIM      1920.46    2598.65  8.006534e+05   35.313935
17     HCLTECH      1232.50    1898.40  2.979916e+06   54.028398
18    HDFCBANK      1527.00    1745.60  2.004888e+07   14.315652
19    HDFCLIFE       634.45     688.20  4.379828e+06    8.471905
20  HEROMOTOCO      3058.00    4794.10  7.327229e+05   56.772400
21    HINDALCO       483.10     652.10  6.997897e+06   34.982405
22  HINDUNILVR      2490.00    2445.25  1.872680e+06   -1.797189
23   ICICIBANK       951.60    1278.05  1.494938e+07   34.305380
24  INDUSINDBK      1432.00     998.20  3.947159e+06  -30.293296
25        INFY      1436.05    1902.25  6.755539e+06   32.464051
26         ITC       441.00     474.65  1.412731e+07    7.630385
27    JSWSTEEL       776.55     977.35  2.225052e+06   25.857961
28   KOTAKBANK      1730.00    1761.45  5.336166e+06    1.817919
29          LT      3040.50    3603.50  2.418357e+06   18.516691
30         M&M      1597.20    3012.95  3.093708e+06   88.639494
31      MARUTI     10709.80   11063.60  5.608613e+05    3.303516
32   NESTLEIND      2250.69    2247.30  9.324183e+05   -0.150620
33        NTPC       244.35     365.45  1.663994e+07   49.560057
34        ONGC       189.30     245.60  1.869071e+07   29.741152
35   POWERGRID       198.75     336.95  1.752909e+07   69.534591
36    RELIANCE      1164.97    1265.40  1.257211e+07    8.620823
37     SBILIFE      1302.15    1485.15  1.349238e+06   14.053680
38        SBIN       596.60     816.05  1.740825e+07   36.783439
39  SHRIRAMFIN      1938.00    2850.05  1.420213e+06   47.061404
40   SUNPHARMA      1159.55    1795.30  2.198935e+06   54.827304
41  TATACONSUM       859.32     945.20  1.728553e+06    9.993949
42  TATAMOTORS       632.60     791.00  1.209171e+07   25.039519
43   TATASTEEL       129.00     142.78  4.394229e+07   10.682171
44         TCS      3534.20    4244.60  2.322424e+06   20.100730
45       TECHM      1220.60    1747.45  2.179249e+06   43.163198
46       TITAN      3148.80    3308.70  1.142674e+06    5.078125
47       TRENT      2074.30    6652.80  8.820246e+05  220.725064
48  ULTRACEMCO      8289.00   11375.30  3.525598e+05   37.233683
49       WIPRO       406.45     571.65  7.784438e+06   40.644606

In [33]:
top_10_green = stock_prices.sort_values(
    "Return_%", ascending=False
).head(10)
top_10_green

        Ticker  Start_Price  End_Price    Avg_Volume    Return_%
47       TRENT      2074.30    6652.80  8.820246e+05  220.725064
8          BEL       137.90     280.85  2.847245e+07  103.662074
30         M&M      1597.20    3012.95  3.093708e+06   88.639494
5   BAJAJ-AUTO      5065.00    9481.65  5.024066e+05   87.199408
9   BHARTIARTL       918.25    1569.30  6.171184e+06   70.901171
35   POWERGRID       198.75     336.95  1.752909e+07   69.534591
10        BPCL       174.25     285.85  1.617056e+07   64.045911
20  HEROMOTOCO      3058.00    4794.10  7.327229e+05   56.772400
40   SUNPHARMA      1159.55    1795.30  2.198935e+06   54.827304
17     HCLTECH      1232.50    1898.40  2.979916e+06   54.028398

In [34]:
top_10_green.to_csv("top_10_green", index=False)

In [35]:
bottom_10_red = stock_prices.sort_values(
    "Return_%",ascending=True).head(10)
bottom_10_red

        Ticker  Start_Price  End_Price    Avg_Volume   Return_%
24  INDUSINDBK      1432.00     998.20  3.947159e+06 -30.293296
3   ASIANPAINT      3166.10    2472.20  1.214614e+06 -21.916553
7   BAJFINANCE      7780.80    6683.95  1.179193e+06 -14.096879
0     ADANIENT      2418.00    2228.00  2.356295e+06  -7.857734
22  HINDUNILVR      2490.00    2445.25  1.872680e+06  -1.797189
32   NESTLEIND      2250.69    2247.30  9.324183e+05  -0.150620
28   KOTAKBANK      1730.00    1761.45  5.336166e+06   1.817919
31      MARUTI     10709.80   11063.60  5.608613e+05   3.303516
6   BAJAJFINSV      1530.25    1600.85  1.569382e+06   4.613625
46       TITAN      3148.80    3308.70  1.142674e+06   5.078125

In [36]:
bottom_10_red.to_csv("bottom_10_red",index=False)

In [37]:
green_stocks = (stock_prices["Return_%"] > 0).sum()
red_stocks = (stock_prices["Return_%"] <= 0).sum()
green_stocks
red_stocks

np.int64(6)

In [38]:
average_price = (
    stock_prices[["Start_Price", "End_Price"]].mean().mean()
)
average_price

np.float64(2293.8695)

In [39]:
average_volume = stock_prices["Avg_Volume"].mean()
average_volume

np.float64(6833474.6491549285)

In [40]:
market_summary = pd.DataFrame({
    "Metric": [
        "Green Stocks",
        "Red Stocks",
        "Average Price",
        "Average Volume"
    ],
    "Value": [
        green_stocks,
        red_stocks,
        round(average_price, 2),
        int(average_volume)
    ]
})

market_summary

           Metric       Value
0    Green Stocks       44.00
1      Red Stocks        6.00
2   Average Price     2293.87
3  Average Volume  6833474.00

In [41]:
market_summary.to_csv("market_summary",index=False)

In [42]:
#sector performance

In [43]:
sector_df = pd.read_csv("C:/Users/Karthika/Downloads/Sector_data - Sheet1.csv")
sector_df

                COMPANY           sector                          Symbol
0     ADANI ENTERPRISES    MISCELLANEOUS   ADANI ENTERPRISES: ADANIGREEN
1     ADANI PORTS & SEZ    MISCELLANEOUS   ADANI PORTS & SEZ: ADANIPORTS
2      APOLLO HOSPITALS    MISCELLANEOUS    APOLLO HOSPITALS: APOLLOHOSP
3          ASIAN PAINTS           PAINTS        ASIAN PAINTS: ASIANPAINT
4             AXIS BANK          BANKING             AXIS BANK: AXISBANK
5            BAJAJ AUTO      AUTOMOBILES          BAJAJ AUTO: BAJAJ-AUTO
6         BAJAJ FINANCE          FINANCE       BAJAJ FINANCE: BAJFINANCE
7         BAJAJ FINSERV          FINANCE       BAJAJ FINSERV: BAJAJFINSV
8    BHARAT ELECTRONICS          DEFENCE         BHARAT ELECTRONICS: BEL
9         BHARTI AIRTEL          TELECOM           BHARTI AIRTEL: AIRTEL
10                 BPCL           ENERGY                      BPCL: BPCL
11                CIPLA  PHARMACEUTICALS                    CIPLA: CIPLA
12           COAL INDIA           MINING           COAL INDIA: COALINDIA
13       DR. REDDYS LAB  PHARMACEUTICALS         DR. REDDYS LAB: DRREDDY
14        EICHER MOTORS      AUTOMOBILES        EICHER MOTORS: EICHERMOT
15               GRASIM         TEXTILES                  GRASIM: GRASIM
16     HCL TECHNOLOGIES         SOFTWARE       HCL TECHNOLOGIES: HCLTECH
17            HDFC BANK          BANKING             HDFC BANK: HDFCBANK
18  HDFC LIFE INSURANCE        INSURANCE   HDFC LIFE INSURANCE: HDFCLIFE
19        HERO MOTOCORP      AUTOMOBILES       HERO MOTOCORP: HEROMOTOCO
20             HINDALCO        ALUMINIUM              HINDALCO: HINDALCO
21   HINDUSTAN UNILEVER             FMCG  HINDUSTAN UNILEVER: HINDUNILVR
22           ICICI BANK          BANKING           ICICI BANK: ICICIBANK
23        INDUSIND BANK          BANKING       INDUSIND BANK: INDUSINDBK
24              INFOSYS         SOFTWARE                   INFOSYS: INFY
25                  IOC           ENERGY                        IOC: IOC
26                  ITC   FOOD & TOBACCO                        ITC: ITC
27            JSW STEEL            STEEL             JSW STEEL: JSWSTEEL
28  KOTAK MAHINDRA BANK          BANKING  KOTAK MAHINDRA BANK: KOTAKBANK
29                  L&T      ENGINEERING                         L&T: LT
30                  M&M      AUTOMOBILES                        M&M: M&M
31        MARUTI SUZUKI      AUTOMOBILES           MARUTI SUZUKI: MARUTI
32               NESTLE   FOOD & TOBACCO               NESTLE: NESTLEIND
33                 NTPC            POWER                      NTPC: NTPC
34                 ONGC           ENERGY                      ONGC: ONGC
35           POWER GRID            POWER           POWER GRID: POWERGRID
36        RELIANCE IND.           ENERGY         RELIANCE IND.: RELIANCE
37                  SBI          BANKING                       SBI: SBIN
38   SBI LIFE INSURANCE        INSURANCE     SBI LIFE INSURANCE: SBILIFE
39      SHRIRAM FINANCE          FINANCE     SHRIRAM FINANCE: SHRIRAMFIN
40           SUN PHARMA  PHARMACEUTICALS           SUN PHARMA: SUNPHARMA
41        TATA CONSUMER             FMCG     TATA CONSUMER: TATACONSUMER
42          TATA MOTORS      AUTOMOBILES         TATA MOTORS: TATAMOTORS
43           TATA STEEL            STEEL           TATA STEEL: TATASTEEL
44                  TCS         SOFTWARE                        TCS: TCS
45        TECH MAHINDRA         SOFTWARE            TECH MAHINDRA: TECHM
46                TITAN        RETAILING                    TITAN: TITAN
47                TRENT        RETAILING                    TRENT: TRENT
48     ULTRATECH CEMENT           CEMENT    ULTRATECH CEMENT: ULTRACEMCO
49                WIPRO         SOFTWARE                    WIPRO: WIPRO

In [44]:
sector_df["Ticker"] = sector_df["Symbol"].str.split(":").str[-1].str.strip()
sector_df

,COMPANY,sector,Symbol,Ticker
0,ADANI ENTERPRISES,MISCELLANEOUS,ADANI ENTERPRISES: ADANIGREEN,ADANIGREEN
1,ADANI PORTS & SEZ,MISCELLANEOUS,ADANI PORTS & SEZ: ADANIPORTS,ADANIPORTS
2,APOLLO HOSPITALS,MISCELLANEOUS,APOLLO HOSPITALS: APOLLOHOSP,APOLLOHOSP
3,ASIAN PAINTS,PAINTS,ASIAN PAINTS: ASIANPAINT,ASIANPAINT
4,AXIS BANK,BANKING,AXIS BANK: AXISBANK,AXISBANK
5,BAJAJ AUTO,AUTOMOBILES,BAJAJ AUTO: BAJAJ-AUTO,BAJAJ-AUTO
6,BAJAJ FINANCE,FINANCE,BAJAJ FINANCE: BAJFINANCE,BAJFINANCE
7,BAJAJ FINSERV,FINANCE,BAJAJ FINSERV: BAJAJFINSV,BAJAJFINSV
8,BHARAT ELECTRONICS,DEFENCE,BHARAT ELECTRONICS: BEL,BEL
9,BHARTI AIRTEL,TELECOM,BHARTI AIRTEL: AIRTEL,AIRTEL
10,BPCL,ENERGY,BPCL: BPCL,BPCL
11,CIPLA,PHARMACEUTICALS,CIPLA: CIPLA,CIPLA
12,COAL INDIA,MINING,COAL INDIA: COALINDIA,COALINDIA
13,DR. REDDYS LAB,PHARMACEUTICALS,DR. REDDYS LAB: DRREDDY,DRREDDY
14,EICHER MOTORS,AUTOMOBILES,EICHER MOTORS: EICHERMOT,EICHERMOT
15,GRASIM,TEXTILES,GRASIM: GRASIM,GRASIM
16,HCL TECHNOLOGIES,SOFTWARE,HCL TECHNOLOGIES: HCLTECH,HCLTECH
17,HDFC BANK,BANKING,HDFC BANK: HDFCBANK,HDFCBANK
18,HDFC LIFE INSURANCE,INSURANCE,HDFC LIFE INSURANCE: HDFCLIFE,HDFCLIFE
19,HERO MOTOCORP,AUTOMOBILES,HERO MOTOCORP: HEROMOTOCO,HEROMOTOCO
20,HINDALCO,ALUMINIUM,HINDALCO: HINDALCO,HINDALCO
21,HINDUSTAN UNILEVER,FMCG,HINDUSTAN UNILEVER: HINDUNILVR,HINDUNILVR
22,ICICI BANK,BANKING,ICICI BANK: ICICIBANK,ICICIBANK
23,INDUSIND BANK,BANKING,INDUSIND BANK: INDUSINDBK,INDUSINDBK
24,INFOSYS,SOFTWARE,INFOSYS: INFY,INFY
25,IOC,ENERGY,IOC: IOC,IOC
26,ITC,FOOD & TOBACCO,ITC: ITC,ITC
27,JSW STEEL,STEEL,JSW STEEL: JSWSTEEL,JSWSTEEL
28,KOTAK MAHINDRA BANK,BANKING,KOTAK MAHINDRA BANK: KOTAKBANK,KOTAKBANK
29,L&T,ENGINEERING,L&T: LT,LT
30,M&M,AUTOMOBILES,M&M: M&M,M&M
31,MARUTI SUZUKI,AUTOMOBILES,MARUTI SUZUKI: MARUTI,MARUTI
32,NESTLE,FOOD & TOBACCO,NESTLE: NESTLEIND,NESTLEIND
33,NTPC,POWER,NTPC: NTPC,NTPC
34,ONGC,ENERGY,ONGC: ONGC,ONGC
35,POWER GRID,POWER,POWER GRID: POWERGRID,POWERGRID
36,RELIANCE IND.,ENERGY,RELIANCE IND.: RELIANCE,RELIANCE
37,SBI,BANKING,SBI: SBIN,SBIN
38,SBI LIFE INSURANCE,INSURANCE,SBI LIFE INSURANCE: SBILIFE,SBILIFE
39,SHRIRAM FINANCE,FINANCE,SHRIRAM FINANCE: SHRIRAMFIN,SHRIRAMFIN
40,SUN PHARMA,PHARMACEUTICALS,SUN PHARMA: SUNPHARMA,SUNPHARMA
41,TATA CONSUMER,FMCG,TATA CONSUMER: TATACONSUMER,TATACONSUMER
42,TATA MOTORS,AUTOMOBILES,TATA MOTORS: TATAMOTORS,TATAMOTORS
43,TATA STEEL,STEEL,TATA STEEL: TATASTEEL,TATASTEEL
44,TCS,SOFTWARE,TCS: TCS,TCS
45,TECH MAHINDRA,SOFTWARE,TECH MAHINDRA: TECHM,TECHM
46,TITAN,RETAILING,TITAN: TITAN,TITAN
47,TRENT,RETAILING,TRENT: TRENT,TRENT
48,ULTRATECH CEMENT,CEMENT,ULTRATECH CEMENT: ULTRACEMCO,ULTRACEMCO
49,WIPRO,SOFTWARE,WIPRO: WIPRO,WIPRO

In [45]:
df

,Ticker,close,date,high,low,month,open,volume,Date,Time,Year
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10-01,596.60,15322196,2023-10-03,05:30:00,2023
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10-01,7780.80,944555,2023-10-03,05:30:00,2023
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10-01,3148.80,1007308,2023-10-03,05:30:00,2023
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10-01,441.00,7481883,2023-10-03,05:30:00,2023
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10-01,3534.20,1948148,2023-10-03,05:30:00,2023
...,...,...,...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11-01,652.95,3586402,2024-11-22,05:30:00,2024
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11-01,4778.40,394712,2024-11-22,05:30:00,2024
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11-01,1136.65,16687505,2024-11-22,05:30:00,2024
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11-01,1743.55,12386806,2024-11-22,05:30:00,2024
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11-01,9545.00,619823,2024-11-22,05:30:00,2024

In [46]:
merged_df = stock_prices.merge(
    sector_df,
    on="Ticker",
    how="left"
)
merged_df

,Ticker,Start_Price,End_Price,Avg_Volume,Return_%,COMPANY,sector,Symbol
0,ADANIENT,2418.00,2228.00,2.356295e+06,-7.857734,NaN,NaN,NaN
1,ADANIPORTS,826.00,1136.75,4.814567e+06,37.621065,ADANI PORTS & SEZ,MISCELLANEOUS,ADANI PORTS & SEZ: ADANIPORTS
2,APOLLOHOSP,5138.95,6935.10,4.324730e+05,34.951692,APOLLO HOSPITALS,MISCELLANEOUS,APOLLO HOSPITALS: APOLLOHOSP
3,ASIANPAINT,3166.10,2472.20,1.214614e+06,-21.916553,ASIAN PAINTS,PAINTS,ASIAN PAINTS: ASIANPAINT
4,AXISBANK,1035.00,1142.40,9.618030e+06,10.376812,AXIS BANK,BANKING,AXIS BANK: AXISBANK
5,BAJAJ-AUTO,5065.00,9481.65,5.024066e+05,87.199408,BAJAJ AUTO,AUTOMOBILES,BAJAJ AUTO: BAJAJ-AUTO
6,BAJAJFINSV,1530.25,1600.85,1.569382e+06,4.613625,BAJAJ FINSERV,FINANCE,BAJAJ FINSERV: BAJAJFINSV
7,BAJFINANCE,7780.80,6683.95,1.179193e+06,-14.096879,BAJAJ FINANCE,FINANCE,BAJAJ FINANCE: BAJFINANCE
8,BEL,137.90,280.85,2.847245e+07,103.662074,BHARAT ELECTRONICS,DEFENCE,BHARAT ELECTRONICS: BEL
9,BHARTIARTL,918.25,1569.30,6.171184e+06,70.901171,NaN,NaN,NaN
10,BPCL,174.25,285.85,1.617056e+07,64.045911,BPCL,ENERGY,BPCL: BPCL
11,BRITANNIA,4524.80,4848.35,3.459959e+05,7.150592,NaN,NaN,NaN
12,CIPLA,1184.00,1486.50,1.817625e+06,25.548986,CIPLA,PHARMACEUTICALS,CIPLA: CIPLA
13,COALINDIA,297.05,414.05,1.191832e+07,39.387309,COAL INDIA,MINING,COAL INDIA: COALINDIA
14,DRREDDY,1117.38,1214.45,2.062055e+06,8.687286,DR. REDDYS LAB,PHARMACEUTICALS,DR. REDDYS LAB: DRREDDY
15,EICHERMOT,3426.90,4986.20,6.356576e+05,45.501765,EICHER MOTORS,AUTOMOBILES,EICHER MOTORS: EICHERMOT
16,GRASIM,1920.46,2598.65,8.006534e+05,35.313935,GRASIM,TEXTILES,GRASIM: GRASIM
17,HCLTECH,1232.50,1898.40,2.979916e+06,54.028398,HCL TECHNOLOGIES,SOFTWARE,HCL TECHNOLOGIES: HCLTECH
18,HDFCBANK,1527.00,1745.60,2.004888e+07,14.315652,HDFC BANK,BANKING,HDFC BANK: HDFCBANK
19,HDFCLIFE,634.45,688.20,4.379828e+06,8.471905,HDFC LIFE INSURANCE,INSURANCE,HDFC LIFE INSURANCE: HDFCLIFE
20,HEROMOTOCO,3058.00,4794.10,7.327229e+05,56.772400,HERO MOTOCORP,AUTOMOBILES,HERO MOTOCORP: HEROMOTOCO
21,HINDALCO,483.10,652.10,6.997897e+06,34.982405,HINDALCO,ALUMINIUM,HINDALCO: HINDALCO
22,HINDUNILVR,2490.00,2445.25,1.872680e+06,-1.797189,HINDUSTAN UNILEVER,FMCG,HINDUSTAN UNILEVER: HINDUNILVR
23,ICICIBANK,951.60,1278.05,1.494938e+07,34.305380,ICICI BANK,BANKING,ICICI BANK: ICICIBANK
24,INDUSINDBK,1432.00,998.20,3.947159e+06,-30.293296,INDUSIND BANK,BANKING,INDUSIND BANK: INDUSINDBK
25,INFY,1436.05,1902.25,6.755539e+06,32.464051,INFOSYS,SOFTWARE,INFOSYS: INFY
26,ITC,441.00,474.65,1.412731e+07,7.630385,ITC,FOOD & TOBACCO,ITC: ITC
27,JSWSTEEL,776.55,977.35,2.225052e+06,25.857961,JSW STEEL,STEEL,JSW STEEL: JSWSTEEL
28,KOTAKBANK,1730.00,1761.45,5.336166e+06,1.817919,KOTAK MAHINDRA BANK,BANKING,KOTAK MAHINDRA BANK: KOTAKBANK
29,LT,3040.50,3603.50,2.418357e+06,18.516691,L&T,ENGINEERING,L&T: LT
30,M&M,1597.20,3012.95,3.093708e+06,88.639494,M&M,AUTOMOBILES,M&M: M&M
31,MARUTI,10709.80,11063.60,5.608613e+05,3.303516,MARUTI SUZUKI,AUTOMOBILES,MARUTI SUZUKI: MARUTI
32,NESTLEIND,2250.69,2247.30,9.324183e+05,-0.150620,NESTLE,FOOD & TOBACCO,NESTLE: NESTLEIND
33,NTPC,244.35,365.45,1.663994e+07,49.560057,NTPC,POWER,NTPC: NTPC
34,ONGC,189.30,245.60,1.869071e+07,29.741152,ONGC,ENERGY,ONGC: ONGC
35,POWERGRID,198.75,336.95,1.752909e+07,69.534591,POWER GRID,POWER,POWER GRID: POWERGRID
36,RELIANCE,1164.97,1265.40,1.257211e+07,8.620823,RELIANCE IND.,ENERGY,RELIANCE IND.: RELIANCE
37,SBILIFE,1302.15,1485.15,1.349238e+06,14.053680,SBI LIFE INSURANCE,INSURANCE,SBI LIFE INSURANCE: SBILIFE
38,SBIN,596.60,816.05,1.740825e+07,36.783439,SBI,BANKING,SBI: SBIN
39,SHRIRAMFIN,1938.00,2850.05,1.420213e+06,47.061404,SHRIRAM FINANCE,FINANCE,SHRIRAM FINANCE: SHRIRAMFIN
40,SUNPHARMA,1159.55,1795.30,2.198935e+06,54.827304,SUN PHARMA,PHARMACEUTICALS,SUN PHARMA: SUNPHARMA
41,TATACONSUM,859.32,945.20,1.728553e+06,9.993949,NaN,NaN,NaN
42,TATAMOTORS,632.60,791.00,1.209171e+07,25.039519,TATA MOTORS,AUTOMOBILES,TATA MOTORS: TATAMOTORS
43,TATASTEEL,129.00,142.78,4.394229e+07,10.682171,TATA STEEL,STEEL,TATA STEEL: TATASTEEL
44,TCS,3534.20,4244.60,2.322424e+06,20.100730,TCS,SOFTWARE,TCS: TCS
45,TECHM,1220.60,1747.45,2.179249e+06,43.163198,TECH MAHINDRA,SOFTWARE,TECH MAHINDRA: TECHM
46,TITAN,3148.80,3308.70,1.142674e+06,5.078125,TITAN,RETAILING,TITAN: TITAN
47,TRENT,2074.30,6652.80,8.820246e+05,220.725064,TRENT,RETAILING,TRENT: TRENT
48,ULTRACEMCO,8289.00,11375.30,3.525598e+05,37.233683,ULTRATECH CEMENT,CEMENT,ULTRATECH CEMENT: ULTRACEMCO
49,WIPRO,406.45,571.65,7.784438e+06,40.644606,WIPRO,SOFTWARE,WIPRO: WIPRO

In [47]:
stock_prices['Ticker'] = (
    stock_prices['Ticker']
    .astype(str)
    .str.strip()
    .str.upper()
)
stock_prices

        Ticker  Start_Price  End_Price    Avg_Volume    Return_%
0     ADANIENT      2418.00    2228.00  2.356295e+06   -7.857734
1   ADANIPORTS       826.00    1136.75  4.814567e+06   37.621065
2   APOLLOHOSP      5138.95    6935.10  4.324730e+05   34.951692
3   ASIANPAINT      3166.10    2472.20  1.214614e+06  -21.916553
4     AXISBANK      1035.00    1142.40  9.618030e+06   10.376812
5   BAJAJ-AUTO      5065.00    9481.65  5.024066e+05   87.199408
6   BAJAJFINSV      1530.25    1600.85  1.569382e+06    4.613625
7   BAJFINANCE      7780.80    6683.95  1.179193e+06  -14.096879
8          BEL       137.90     280.85  2.847245e+07  103.662074
9   BHARTIARTL       918.25    1569.30  6.171184e+06   70.901171
10        BPCL       174.25     285.85  1.617056e+07   64.045911
11   BRITANNIA      4524.80    4848.35  3.459959e+05    7.150592
12       CIPLA      1184.00    1486.50  1.817625e+06   25.548986
13   COALINDIA       297.05     414.05  1.191832e+07   39.387309
14     DRREDDY      1117.38    1214.45  2.062055e+06    8.687286
15   EICHERMOT      3426.90    4986.20  6.356576e+05   45.501765
16      GRASIM      1920.46    2598.65  8.006534e+05   35.313935
17     HCLTECH      1232.50    1898.40  2.979916e+06   54.028398
18    HDFCBANK      1527.00    1745.60  2.004888e+07   14.315652
19    HDFCLIFE       634.45     688.20  4.379828e+06    8.471905
20  HEROMOTOCO      3058.00    4794.10  7.327229e+05   56.772400
21    HINDALCO       483.10     652.10  6.997897e+06   34.982405
22  HINDUNILVR      2490.00    2445.25  1.872680e+06   -1.797189
23   ICICIBANK       951.60    1278.05  1.494938e+07   34.305380
24  INDUSINDBK      1432.00     998.20  3.947159e+06  -30.293296
25        INFY      1436.05    1902.25  6.755539e+06   32.464051
26         ITC       441.00     474.65  1.412731e+07    7.630385
27    JSWSTEEL       776.55     977.35  2.225052e+06   25.857961
28   KOTAKBANK      1730.00    1761.45  5.336166e+06    1.817919
29          LT      3040.50    3603.50  2.418357e+06   18.516691
30         M&M      1597.20    3012.95  3.093708e+06   88.639494
31      MARUTI     10709.80   11063.60  5.608613e+05    3.303516
32   NESTLEIND      2250.69    2247.30  9.324183e+05   -0.150620
33        NTPC       244.35     365.45  1.663994e+07   49.560057
34        ONGC       189.30     245.60  1.869071e+07   29.741152
35   POWERGRID       198.75     336.95  1.752909e+07   69.534591
36    RELIANCE      1164.97    1265.40  1.257211e+07    8.620823
37     SBILIFE      1302.15    1485.15  1.349238e+06   14.053680
38        SBIN       596.60     816.05  1.740825e+07   36.783439
39  SHRIRAMFIN      1938.00    2850.05  1.420213e+06   47.061404
40   SUNPHARMA      1159.55    1795.30  2.198935e+06   54.827304
41  TATACONSUM       859.32     945.20  1.728553e+06    9.993949
42  TATAMOTORS       632.60     791.00  1.209171e+07   25.039519
43   TATASTEEL       129.00     142.78  4.394229e+07   10.682171
44         TCS      3534.20    4244.60  2.322424e+06   20.100730
45       TECHM      1220.60    1747.45  2.179249e+06   43.163198
46       TITAN      3148.80    3308.70  1.142674e+06    5.078125
47       TRENT      2074.30    6652.80  8.820246e+05  220.725064
48  ULTRACEMCO      8289.00   11375.30  3.525598e+05   37.233683
49       WIPRO       406.45     571.65  7.784438e+06   40.644606

In [48]:
sector_df['Ticker'] = (
    sector_df['Ticker']
    .astype(str)
    .str.strip()
    .str.upper()
)
sector_df

,COMPANY,sector,Symbol,Ticker
0,ADANI ENTERPRISES,MISCELLANEOUS,ADANI ENTERPRISES: ADANIGREEN,ADANIGREEN
1,ADANI PORTS & SEZ,MISCELLANEOUS,ADANI PORTS & SEZ: ADANIPORTS,ADANIPORTS
2,APOLLO HOSPITALS,MISCELLANEOUS,APOLLO HOSPITALS: APOLLOHOSP,APOLLOHOSP
3,ASIAN PAINTS,PAINTS,ASIAN PAINTS: ASIANPAINT,ASIANPAINT
4,AXIS BANK,BANKING,AXIS BANK: AXISBANK,AXISBANK
5,BAJAJ AUTO,AUTOMOBILES,BAJAJ AUTO: BAJAJ-AUTO,BAJAJ-AUTO
6,BAJAJ FINANCE,FINANCE,BAJAJ FINANCE: BAJFINANCE,BAJFINANCE
7,BAJAJ FINSERV,FINANCE,BAJAJ FINSERV: BAJAJFINSV,BAJAJFINSV
8,BHARAT ELECTRONICS,DEFENCE,BHARAT ELECTRONICS: BEL,BEL
9,BHARTI AIRTEL,TELECOM,BHARTI AIRTEL: AIRTEL,AIRTEL
10,BPCL,ENERGY,BPCL: BPCL,BPCL
11,CIPLA,PHARMACEUTICALS,CIPLA: CIPLA,CIPLA
12,COAL INDIA,MINING,COAL INDIA: COALINDIA,COALINDIA
13,DR. REDDYS LAB,PHARMACEUTICALS,DR. REDDYS LAB: DRREDDY,DRREDDY
14,EICHER MOTORS,AUTOMOBILES,EICHER MOTORS: EICHERMOT,EICHERMOT
15,GRASIM,TEXTILES,GRASIM: GRASIM,GRASIM
16,HCL TECHNOLOGIES,SOFTWARE,HCL TECHNOLOGIES: HCLTECH,HCLTECH
17,HDFC BANK,BANKING,HDFC BANK: HDFCBANK,HDFCBANK
18,HDFC LIFE INSURANCE,INSURANCE,HDFC LIFE INSURANCE: HDFCLIFE,HDFCLIFE
19,HERO MOTOCORP,AUTOMOBILES,HERO MOTOCORP: HEROMOTOCO,HEROMOTOCO
20,HINDALCO,ALUMINIUM,HINDALCO: HINDALCO,HINDALCO
21,HINDUSTAN UNILEVER,FMCG,HINDUSTAN UNILEVER: HINDUNILVR,HINDUNILVR
22,ICICI BANK,BANKING,ICICI BANK: ICICIBANK,ICICIBANK
23,INDUSIND BANK,BANKING,INDUSIND BANK: INDUSINDBK,INDUSINDBK
24,INFOSYS,SOFTWARE,INFOSYS: INFY,INFY
25,IOC,ENERGY,IOC: IOC,IOC
26,ITC,FOOD & TOBACCO,ITC: ITC,ITC
27,JSW STEEL,STEEL,JSW STEEL: JSWSTEEL,JSWSTEEL
28,KOTAK MAHINDRA BANK,BANKING,KOTAK MAHINDRA BANK: KOTAKBANK,KOTAKBANK
29,L&T,ENGINEERING,L&T: LT,LT
30,M&M,AUTOMOBILES,M&M: M&M,M&M
31,MARUTI SUZUKI,AUTOMOBILES,MARUTI SUZUKI: MARUTI,MARUTI
32,NESTLE,FOOD & TOBACCO,NESTLE: NESTLEIND,NESTLEIND
33,NTPC,POWER,NTPC: NTPC,NTPC
34,ONGC,ENERGY,ONGC: ONGC,ONGC
35,POWER GRID,POWER,POWER GRID: POWERGRID,POWERGRID
36,RELIANCE IND.,ENERGY,RELIANCE IND.: RELIANCE,RELIANCE
37,SBI,BANKING,SBI: SBIN,SBIN
38,SBI LIFE INSURANCE,INSURANCE,SBI LIFE INSURANCE: SBILIFE,SBILIFE
39,SHRIRAM FINANCE,FINANCE,SHRIRAM FINANCE: SHRIRAMFIN,SHRIRAMFIN
40,SUN PHARMA,PHARMACEUTICALS,SUN PHARMA: SUNPHARMA,SUNPHARMA
41,TATA CONSUMER,FMCG,TATA CONSUMER: TATACONSUMER,TATACONSUMER
42,TATA MOTORS,AUTOMOBILES,TATA MOTORS: TATAMOTORS,TATAMOTORS
43,TATA STEEL,STEEL,TATA STEEL: TATASTEEL,TATASTEEL
44,TCS,SOFTWARE,TCS: TCS,TCS
45,TECH MAHINDRA,SOFTWARE,TECH MAHINDRA: TECHM,TECHM
46,TITAN,RETAILING,TITAN: TITAN,TITAN
47,TRENT,RETAILING,TRENT: TRENT,TRENT
48,ULTRATECH CEMENT,CEMENT,ULTRATECH CEMENT: ULTRACEMCO,ULTRACEMCO
49,WIPRO,SOFTWARE,WIPRO: WIPRO,WIPRO

In [49]:
merged_df = stock_prices.merge(
    sector_df[['Symbol', 'sector']],
    left_on='Ticker',
    right_on='Symbol',
    how='left'
)
merged_df

        Ticker  Start_Price  End_Price    Avg_Volume    Return_% Symbol sector
0     ADANIENT      2418.00    2228.00  2.356295e+06   -7.857734    NaN    NaN
1   ADANIPORTS       826.00    1136.75  4.814567e+06   37.621065    NaN    NaN
2   APOLLOHOSP      5138.95    6935.10  4.324730e+05   34.951692    NaN    NaN
3   ASIANPAINT      3166.10    2472.20  1.214614e+06  -21.916553    NaN    NaN
4     AXISBANK      1035.00    1142.40  9.618030e+06   10.376812    NaN    NaN
5   BAJAJ-AUTO      5065.00    9481.65  5.024066e+05   87.199408    NaN    NaN
6   BAJAJFINSV      1530.25    1600.85  1.569382e+06    4.613625    NaN    NaN
7   BAJFINANCE      7780.80    6683.95  1.179193e+06  -14.096879    NaN    NaN
8          BEL       137.90     280.85  2.847245e+07  103.662074    NaN    NaN
9   BHARTIARTL       918.25    1569.30  6.171184e+06   70.901171    NaN    NaN
10        BPCL       174.25     285.85  1.617056e+07   64.045911    NaN    NaN
11   BRITANNIA      4524.80    4848.35  3.459959e+05    7.150592    NaN    NaN
12       CIPLA      1184.00    1486.50  1.817625e+06   25.548986    NaN    NaN
13   COALINDIA       297.05     414.05  1.191832e+07   39.387309    NaN    NaN
14     DRREDDY      1117.38    1214.45  2.062055e+06    8.687286    NaN    NaN
15   EICHERMOT      3426.90    4986.20  6.356576e+05   45.501765    NaN    NaN
16      GRASIM      1920.46    2598.65  8.006534e+05   35.313935    NaN    NaN
17     HCLTECH      1232.50    1898.40  2.979916e+06   54.028398    NaN    NaN
18    HDFCBANK      1527.00    1745.60  2.004888e+07   14.315652    NaN    NaN
19    HDFCLIFE       634.45     688.20  4.379828e+06    8.471905    NaN    NaN
20  HEROMOTOCO      3058.00    4794.10  7.327229e+05   56.772400    NaN    NaN
21    HINDALCO       483.10     652.10  6.997897e+06   34.982405    NaN    NaN
22  HINDUNILVR      2490.00    2445.25  1.872680e+06   -1.797189    NaN    NaN
23   ICICIBANK       951.60    1278.05  1.494938e+07   34.305380    NaN    NaN
24  INDUSINDBK      1432.00     998.20  3.947159e+06  -30.293296    NaN    NaN
25        INFY      1436.05    1902.25  6.755539e+06   32.464051    NaN    NaN
26         ITC       441.00     474.65  1.412731e+07    7.630385    NaN    NaN
27    JSWSTEEL       776.55     977.35  2.225052e+06   25.857961    NaN    NaN
28   KOTAKBANK      1730.00    1761.45  5.336166e+06    1.817919    NaN    NaN
29          LT      3040.50    3603.50  2.418357e+06   18.516691    NaN    NaN
30         M&M      1597.20    3012.95  3.093708e+06   88.639494    NaN    NaN
31      MARUTI     10709.80   11063.60  5.608613e+05    3.303516    NaN    NaN
32   NESTLEIND      2250.69    2247.30  9.324183e+05   -0.150620    NaN    NaN
33        NTPC       244.35     365.45  1.663994e+07   49.560057    NaN    NaN
34        ONGC       189.30     245.60  1.869071e+07   29.741152    NaN    NaN
35   POWERGRID       198.75     336.95  1.752909e+07   69.534591    NaN    NaN
36    RELIANCE      1164.97    1265.40  1.257211e+07    8.620823    NaN    NaN
37     SBILIFE      1302.15    1485.15  1.349238e+06   14.053680    NaN    NaN
38        SBIN       596.60     816.05  1.740825e+07   36.783439    NaN    NaN
39  SHRIRAMFIN      1938.00    2850.05  1.420213e+06   47.061404    NaN    NaN
40   SUNPHARMA      1159.55    1795.30  2.198935e+06   54.827304    NaN    NaN
41  TATACONSUM       859.32     945.20  1.728553e+06    9.993949    NaN    NaN
42  TATAMOTORS       632.60     791.00  1.209171e+07   25.039519    NaN    NaN
43   TATASTEEL       129.00     142.78  4.394229e+07   10.682171    NaN    NaN
44         TCS      3534.20    4244.60  2.322424e+06   20.100730    NaN    NaN
45       TECHM      1220.60    1747.45  2.179249e+06   43.163198    NaN    NaN
46       TITAN      3148.80    3308.70  1.142674e+06    5.078125    NaN    NaN
47       TRENT      2074.30    6652.80  8.820246e+05  220.725064    NaN    NaN
48  ULTRACEMCO      8289.00   11375.30  3.525598e+05   37.233683    NaN    NaN
49       WIPRO       406.45     571.65  7.784438e+06   40.644606    NaN    NaN

In [50]:
sector_df["NSE_Ticker"] = (
    sector_df["Symbol"]
    .str.split(":")
    .str[-1]
    .str.strip()
    .str.upper()
)
sector_df

,COMPANY,sector,Symbol,Ticker,NSE_Ticker
0,ADANI ENTERPRISES,MISCELLANEOUS,ADANI ENTERPRISES: ADANIGREEN,ADANIGREEN,ADANIGREEN
1,ADANI PORTS & SEZ,MISCELLANEOUS,ADANI PORTS & SEZ: ADANIPORTS,ADANIPORTS,ADANIPORTS
2,APOLLO HOSPITALS,MISCELLANEOUS,APOLLO HOSPITALS: APOLLOHOSP,APOLLOHOSP,APOLLOHOSP
3,ASIAN PAINTS,PAINTS,ASIAN PAINTS: ASIANPAINT,ASIANPAINT,ASIANPAINT
4,AXIS BANK,BANKING,AXIS BANK: AXISBANK,AXISBANK,AXISBANK
5,BAJAJ AUTO,AUTOMOBILES,BAJAJ AUTO: BAJAJ-AUTO,BAJAJ-AUTO,BAJAJ-AUTO
6,BAJAJ FINANCE,FINANCE,BAJAJ FINANCE: BAJFINANCE,BAJFINANCE,BAJFINANCE
7,BAJAJ FINSERV,FINANCE,BAJAJ FINSERV: BAJAJFINSV,BAJAJFINSV,BAJAJFINSV
8,BHARAT ELECTRONICS,DEFENCE,BHARAT ELECTRONICS: BEL,BEL,BEL
9,BHARTI AIRTEL,TELECOM,BHARTI AIRTEL: AIRTEL,AIRTEL,AIRTEL
10,BPCL,ENERGY,BPCL: BPCL,BPCL,BPCL
11,CIPLA,PHARMACEUTICALS,CIPLA: CIPLA,CIPLA,CIPLA
12,COAL INDIA,MINING,COAL INDIA: COALINDIA,COALINDIA,COALINDIA
13,DR. REDDYS LAB,PHARMACEUTICALS,DR. REDDYS LAB: DRREDDY,DRREDDY,DRREDDY
14,EICHER MOTORS,AUTOMOBILES,EICHER MOTORS: EICHERMOT,EICHERMOT,EICHERMOT
15,GRASIM,TEXTILES,GRASIM: GRASIM,GRASIM,GRASIM
16,HCL TECHNOLOGIES,SOFTWARE,HCL TECHNOLOGIES: HCLTECH,HCLTECH,HCLTECH
17,HDFC BANK,BANKING,HDFC BANK: HDFCBANK,HDFCBANK,HDFCBANK
18,HDFC LIFE INSURANCE,INSURANCE,HDFC LIFE INSURANCE: HDFCLIFE,HDFCLIFE,HDFCLIFE
19,HERO MOTOCORP,AUTOMOBILES,HERO MOTOCORP: HEROMOTOCO,HEROMOTOCO,HEROMOTOCO
20,HINDALCO,ALUMINIUM,HINDALCO: HINDALCO,HINDALCO,HINDALCO
21,HINDUSTAN UNILEVER,FMCG,HINDUSTAN UNILEVER: HINDUNILVR,HINDUNILVR,HINDUNILVR
22,ICICI BANK,BANKING,ICICI BANK: ICICIBANK,ICICIBANK,ICICIBANK
23,INDUSIND BANK,BANKING,INDUSIND BANK: INDUSINDBK,INDUSINDBK,INDUSINDBK
24,INFOSYS,SOFTWARE,INFOSYS: INFY,INFY,INFY
25,IOC,ENERGY,IOC: IOC,IOC,IOC
26,ITC,FOOD & TOBACCO,ITC: ITC,ITC,ITC
27,JSW STEEL,STEEL,JSW STEEL: JSWSTEEL,JSWSTEEL,JSWSTEEL
28,KOTAK MAHINDRA BANK,BANKING,KOTAK MAHINDRA BANK: KOTAKBANK,KOTAKBANK,KOTAKBANK
29,L&T,ENGINEERING,L&T: LT,LT,LT
30,M&M,AUTOMOBILES,M&M: M&M,M&M,M&M
31,MARUTI SUZUKI,AUTOMOBILES,MARUTI SUZUKI: MARUTI,MARUTI,MARUTI
32,NESTLE,FOOD & TOBACCO,NESTLE: NESTLEIND,NESTLEIND,NESTLEIND
33,NTPC,POWER,NTPC: NTPC,NTPC,NTPC
34,ONGC,ENERGY,ONGC: ONGC,ONGC,ONGC
35,POWER GRID,POWER,POWER GRID: POWERGRID,POWERGRID,POWERGRID
36,RELIANCE IND.,ENERGY,RELIANCE IND.: RELIANCE,RELIANCE,RELIANCE
37,SBI,BANKING,SBI: SBIN,SBIN,SBIN
38,SBI LIFE INSURANCE,INSURANCE,SBI LIFE INSURANCE: SBILIFE,SBILIFE,SBILIFE
39,SHRIRAM FINANCE,FINANCE,SHRIRAM FINANCE: SHRIRAMFIN,SHRIRAMFIN,SHRIRAMFIN
40,SUN PHARMA,PHARMACEUTICALS,SUN PHARMA: SUNPHARMA,SUNPHARMA,SUNPHARMA
41,TATA CONSUMER,FMCG,TATA CONSUMER: TATACONSUMER,TATACONSUMER,TATACONSUMER
42,TATA MOTORS,AUTOMOBILES,TATA MOTORS: TATAMOTORS,TATAMOTORS,TATAMOTORS
43,TATA STEEL,STEEL,TATA STEEL: TATASTEEL,TATASTEEL,TATASTEEL
44,TCS,SOFTWARE,TCS: TCS,TCS,TCS
45,TECH MAHINDRA,SOFTWARE,TECH MAHINDRA: TECHM,TECHM,TECHM
46,TITAN,RETAILING,TITAN: TITAN,TITAN,TITAN
47,TRENT,RETAILING,TRENT: TRENT,TRENT,TRENT
48,ULTRATECH CEMENT,CEMENT,ULTRATECH CEMENT: ULTRACEMCO,ULTRACEMCO,ULTRACEMCO
49,WIPRO,SOFTWARE,WIPRO: WIPRO,WIPRO,WIPRO

In [51]:
sector_df = sector_df[["NSE_Ticker", "sector"]]
sector_df

      NSE_Ticker           sector
0     ADANIGREEN    MISCELLANEOUS
1     ADANIPORTS    MISCELLANEOUS
2     APOLLOHOSP    MISCELLANEOUS
3     ASIANPAINT           PAINTS
4       AXISBANK          BANKING
5     BAJAJ-AUTO      AUTOMOBILES
6     BAJFINANCE          FINANCE
7     BAJAJFINSV          FINANCE
8            BEL          DEFENCE
9         AIRTEL          TELECOM
10          BPCL           ENERGY
11         CIPLA  PHARMACEUTICALS
12     COALINDIA           MINING
13       DRREDDY  PHARMACEUTICALS
14     EICHERMOT      AUTOMOBILES
15        GRASIM         TEXTILES
16       HCLTECH         SOFTWARE
17      HDFCBANK          BANKING
18      HDFCLIFE        INSURANCE
19    HEROMOTOCO      AUTOMOBILES
20      HINDALCO        ALUMINIUM
21    HINDUNILVR             FMCG
22     ICICIBANK          BANKING
23    INDUSINDBK          BANKING
24          INFY         SOFTWARE
25           IOC           ENERGY
26           ITC   FOOD & TOBACCO
27      JSWSTEEL            STEEL
28     KOTAKBANK          BANKING
29            LT      ENGINEERING
30           M&M      AUTOMOBILES
31        MARUTI      AUTOMOBILES
32     NESTLEIND   FOOD & TOBACCO
33          NTPC            POWER
34          ONGC           ENERGY
35     POWERGRID            POWER
36      RELIANCE           ENERGY
37          SBIN          BANKING
38       SBILIFE        INSURANCE
39    SHRIRAMFIN          FINANCE
40     SUNPHARMA  PHARMACEUTICALS
41  TATACONSUMER             FMCG
42    TATAMOTORS      AUTOMOBILES
43     TATASTEEL            STEEL
44           TCS         SOFTWARE
45         TECHM         SOFTWARE
46         TITAN        RETAILING
47         TRENT        RETAILING
48    ULTRACEMCO           CEMENT
49         WIPRO         SOFTWARE

In [52]:
stock_prices["Ticker"] = (
    stock_prices["Ticker"]
    .str.strip()
    .str.upper()
)
stock_prices

        Ticker  Start_Price  End_Price    Avg_Volume    Return_%
0     ADANIENT      2418.00    2228.00  2.356295e+06   -7.857734
1   ADANIPORTS       826.00    1136.75  4.814567e+06   37.621065
2   APOLLOHOSP      5138.95    6935.10  4.324730e+05   34.951692
3   ASIANPAINT      3166.10    2472.20  1.214614e+06  -21.916553
4     AXISBANK      1035.00    1142.40  9.618030e+06   10.376812
5   BAJAJ-AUTO      5065.00    9481.65  5.024066e+05   87.199408
6   BAJAJFINSV      1530.25    1600.85  1.569382e+06    4.613625
7   BAJFINANCE      7780.80    6683.95  1.179193e+06  -14.096879
8          BEL       137.90     280.85  2.847245e+07  103.662074
9   BHARTIARTL       918.25    1569.30  6.171184e+06   70.901171
10        BPCL       174.25     285.85  1.617056e+07   64.045911
11   BRITANNIA      4524.80    4848.35  3.459959e+05    7.150592
12       CIPLA      1184.00    1486.50  1.817625e+06   25.548986
13   COALINDIA       297.05     414.05  1.191832e+07   39.387309
14     DRREDDY      1117.38    1214.45  2.062055e+06    8.687286
15   EICHERMOT      3426.90    4986.20  6.356576e+05   45.501765
16      GRASIM      1920.46    2598.65  8.006534e+05   35.313935
17     HCLTECH      1232.50    1898.40  2.979916e+06   54.028398
18    HDFCBANK      1527.00    1745.60  2.004888e+07   14.315652
19    HDFCLIFE       634.45     688.20  4.379828e+06    8.471905
20  HEROMOTOCO      3058.00    4794.10  7.327229e+05   56.772400
21    HINDALCO       483.10     652.10  6.997897e+06   34.982405
22  HINDUNILVR      2490.00    2445.25  1.872680e+06   -1.797189
23   ICICIBANK       951.60    1278.05  1.494938e+07   34.305380
24  INDUSINDBK      1432.00     998.20  3.947159e+06  -30.293296
25        INFY      1436.05    1902.25  6.755539e+06   32.464051
26         ITC       441.00     474.65  1.412731e+07    7.630385
27    JSWSTEEL       776.55     977.35  2.225052e+06   25.857961
28   KOTAKBANK      1730.00    1761.45  5.336166e+06    1.817919
29          LT      3040.50    3603.50  2.418357e+06   18.516691
30         M&M      1597.20    3012.95  3.093708e+06   88.639494
31      MARUTI     10709.80   11063.60  5.608613e+05    3.303516
32   NESTLEIND      2250.69    2247.30  9.324183e+05   -0.150620
33        NTPC       244.35     365.45  1.663994e+07   49.560057
34        ONGC       189.30     245.60  1.869071e+07   29.741152
35   POWERGRID       198.75     336.95  1.752909e+07   69.534591
36    RELIANCE      1164.97    1265.40  1.257211e+07    8.620823
37     SBILIFE      1302.15    1485.15  1.349238e+06   14.053680
38        SBIN       596.60     816.05  1.740825e+07   36.783439
39  SHRIRAMFIN      1938.00    2850.05  1.420213e+06   47.061404
40   SUNPHARMA      1159.55    1795.30  2.198935e+06   54.827304
41  TATACONSUM       859.32     945.20  1.728553e+06    9.993949
42  TATAMOTORS       632.60     791.00  1.209171e+07   25.039519
43   TATASTEEL       129.00     142.78  4.394229e+07   10.682171
44         TCS      3534.20    4244.60  2.322424e+06   20.100730
45       TECHM      1220.60    1747.45  2.179249e+06   43.163198
46       TITAN      3148.80    3308.70  1.142674e+06    5.078125
47       TRENT      2074.30    6652.80  8.820246e+05  220.725064
48  ULTRACEMCO      8289.00   11375.30  3.525598e+05   37.233683
49       WIPRO       406.45     571.65  7.784438e+06   40.644606

In [53]:
merged_df = stock_prices.merge(
    sector_df,
    left_on="Ticker",
    right_on="NSE_Ticker",
    how="left"
)
merged_df

,Ticker,Start_Price,End_Price,Avg_Volume,Return_%,NSE_Ticker,sector
0,ADANIENT,2418.00,2228.00,2.356295e+06,-7.857734,NaN,NaN
1,ADANIPORTS,826.00,1136.75,4.814567e+06,37.621065,ADANIPORTS,MISCELLANEOUS
2,APOLLOHOSP,5138.95,6935.10,4.324730e+05,34.951692,APOLLOHOSP,MISCELLANEOUS
3,ASIANPAINT,3166.10,2472.20,1.214614e+06,-21.916553,ASIANPAINT,PAINTS
4,AXISBANK,1035.00,1142.40,9.618030e+06,10.376812,AXISBANK,BANKING
5,BAJAJ-AUTO,5065.00,9481.65,5.024066e+05,87.199408,BAJAJ-AUTO,AUTOMOBILES
6,BAJAJFINSV,1530.25,1600.85,1.569382e+06,4.613625,BAJAJFINSV,FINANCE
7,BAJFINANCE,7780.80,6683.95,1.179193e+06,-14.096879,BAJFINANCE,FINANCE
8,BEL,137.90,280.85,2.847245e+07,103.662074,BEL,DEFENCE
9,BHARTIARTL,918.25,1569.30,6.171184e+06,70.901171,NaN,NaN
10,BPCL,174.25,285.85,1.617056e+07,64.045911,BPCL,ENERGY
11,BRITANNIA,4524.80,4848.35,3.459959e+05,7.150592,NaN,NaN
12,CIPLA,1184.00,1486.50,1.817625e+06,25.548986,CIPLA,PHARMACEUTICALS
13,COALINDIA,297.05,414.05,1.191832e+07,39.387309,COALINDIA,MINING
14,DRREDDY,1117.38,1214.45,2.062055e+06,8.687286,DRREDDY,PHARMACEUTICALS
15,EICHERMOT,3426.90,4986.20,6.356576e+05,45.501765,EICHERMOT,AUTOMOBILES
16,GRASIM,1920.46,2598.65,8.006534e+05,35.313935,GRASIM,TEXTILES
17,HCLTECH,1232.50,1898.40,2.979916e+06,54.028398,HCLTECH,SOFTWARE
18,HDFCBANK,1527.00,1745.60,2.004888e+07,14.315652,HDFCBANK,BANKING
19,HDFCLIFE,634.45,688.20,4.379828e+06,8.471905,HDFCLIFE,INSURANCE
20,HEROMOTOCO,3058.00,4794.10,7.327229e+05,56.772400,HEROMOTOCO,AUTOMOBILES
21,HINDALCO,483.10,652.10,6.997897e+06,34.982405,HINDALCO,ALUMINIUM
22,HINDUNILVR,2490.00,2445.25,1.872680e+06,-1.797189,HINDUNILVR,FMCG
23,ICICIBANK,951.60,1278.05,1.494938e+07,34.305380,ICICIBANK,BANKING
24,INDUSINDBK,1432.00,998.20,3.947159e+06,-30.293296,INDUSINDBK,BANKING
25,INFY,1436.05,1902.25,6.755539e+06,32.464051,INFY,SOFTWARE
26,ITC,441.00,474.65,1.412731e+07,7.630385,ITC,FOOD & TOBACCO
27,JSWSTEEL,776.55,977.35,2.225052e+06,25.857961,JSWSTEEL,STEEL
28,KOTAKBANK,1730.00,1761.45,5.336166e+06,1.817919,KOTAKBANK,BANKING
29,LT,3040.50,3603.50,2.418357e+06,18.516691,LT,ENGINEERING
30,M&M,1597.20,3012.95,3.093708e+06,88.639494,M&M,AUTOMOBILES
31,MARUTI,10709.80,11063.60,5.608613e+05,3.303516,MARUTI,AUTOMOBILES
32,NESTLEIND,2250.69,2247.30,9.324183e+05,-0.150620,NESTLEIND,FOOD & TOBACCO
33,NTPC,244.35,365.45,1.663994e+07,49.560057,NTPC,POWER
34,ONGC,189.30,245.60,1.869071e+07,29.741152,ONGC,ENERGY
35,POWERGRID,198.75,336.95,1.752909e+07,69.534591,POWERGRID,POWER
36,RELIANCE,1164.97,1265.40,1.257211e+07,8.620823,RELIANCE,ENERGY
37,SBILIFE,1302.15,1485.15,1.349238e+06,14.053680,SBILIFE,INSURANCE
38,SBIN,596.60,816.05,1.740825e+07,36.783439,SBIN,BANKING
39,SHRIRAMFIN,1938.00,2850.05,1.420213e+06,47.061404,SHRIRAMFIN,FINANCE
40,SUNPHARMA,1159.55,1795.30,2.198935e+06,54.827304,SUNPHARMA,PHARMACEUTICALS
41,TATACONSUM,859.32,945.20,1.728553e+06,9.993949,NaN,NaN
42,TATAMOTORS,632.60,791.00,1.209171e+07,25.039519,TATAMOTORS,AUTOMOBILES
43,TATASTEEL,129.00,142.78,4.394229e+07,10.682171,TATASTEEL,STEEL
44,TCS,3534.20,4244.60,2.322424e+06,20.100730,TCS,SOFTWARE
45,TECHM,1220.60,1747.45,2.179249e+06,43.163198,TECHM,SOFTWARE
46,TITAN,3148.80,3308.70,1.142674e+06,5.078125,TITAN,RETAILING
47,TRENT,2074.30,6652.80,8.820246e+05,220.725064,TRENT,RETAILING
48,ULTRACEMCO,8289.00,11375.30,3.525598e+05,37.233683,ULTRACEMCO,CEMENT
49,WIPRO,406.45,571.65,7.784438e+06,40.644606,WIPRO,SOFTWARE

In [54]:
merged_df[merged_df['sector'].isna()][['Ticker']]

        Ticker
0     ADANIENT
9   BHARTIARTL
11   BRITANNIA
41  TATACONSUM

In [55]:
merged_df[["Ticker", "sector"]].head(10)

       Ticker         sector
0    ADANIENT            NaN
1  ADANIPORTS  MISCELLANEOUS
2  APOLLOHOSP  MISCELLANEOUS
3  ASIANPAINT         PAINTS
4    AXISBANK        BANKING
5  BAJAJ-AUTO    AUTOMOBILES
6  BAJAJFINSV        FINANCE
7  BAJFINANCE        FINANCE
8         BEL        DEFENCE
9  BHARTIARTL            NaN

In [ ]:
manual_sector_map = {
    "ADANIENT": "CONGLOMERATE",
    "BHARTIARTL": "TELECOM",
    "BRITANNIA": "FMCG",
    "TATACONSUM": "FMCG"
}

merged_df["sector"] = merged_df["sector"].fillna(
    merged_df["Ticker"].map(manual_sector_map)
)

{'ADANIENT': 'CONGLOMERATE',
 'BHARTIARTL': 'TELECOM',
 'BRITANNIA': 'FMCG',
 'TATACONSUM': 'FMCG'}

In [57]:
merged_df.isna().sum()

Ticker         0
Start_Price    0
End_Price      0
Avg_Volume     0
Return_%       0
NSE_Ticker     4
sector         0
dtype: int64

In [148]:
merged_df["Return_Amount"] = merged_df["End_Price"] - merged_df["Start_Price"]

In [150]:
sector_stock_df = merged_df[
    ["sector", "Ticker", "Start_Price", "End_Price", "Return_Amount", "Return_%"]
].sort_values(by=["sector", "Return_Amount"], ascending=[True, False])

sector_stock_df

,sector,Ticker,Start_Price,End_Price,Return_Amount,Return_%
21,ALUMINIUM,HINDALCO,483.10,652.10,169.00,34.982405
5,AUTOMOBILES,BAJAJ-AUTO,5065.00,9481.65,4416.65,87.199408
20,AUTOMOBILES,HEROMOTOCO,3058.00,4794.10,1736.10,56.772400
15,AUTOMOBILES,EICHERMOT,3426.90,4986.20,1559.30,45.501765
30,AUTOMOBILES,M&M,1597.20,3012.95,1415.75,88.639494
31,AUTOMOBILES,MARUTI,10709.80,11063.60,353.80,3.303516
42,AUTOMOBILES,TATAMOTORS,632.60,791.00,158.40,25.039519
23,BANKING,ICICIBANK,951.60,1278.05,326.45,34.305380
38,BANKING,SBIN,596.60,816.05,219.45,36.783439
18,BANKING,HDFCBANK,1527.00,1745.60,218.60,14.315652
4,BANKING,AXISBANK,1035.00,1142.40,107.40,10.376812
28,BANKING,KOTAKBANK,1730.00,1761.45,31.45,1.817919
24,BANKING,INDUSINDBK,1432.00,998.20,-433.80,-30.293296
48,CEMENT,ULTRACEMCO,8289.00,11375.30,3086.30,37.233683
0,CONGLOMERATE,ADANIENT,2418.00,2228.00,-190.00,-7.857734
8,DEFENCE,BEL,137.90,280.85,142.95,103.662074
10,ENERGY,BPCL,174.25,285.85,111.60,64.045911
36,ENERGY,RELIANCE,1164.97,1265.40,100.43,8.620823
34,ENERGY,ONGC,189.30,245.60,56.30,29.741152
29,ENGINEERING,LT,3040.50,3603.50,563.00,18.516691
39,FINANCE,SHRIRAMFIN,1938.00,2850.05,912.05,47.061404
6,FINANCE,BAJAJFINSV,1530.25,1600.85,70.60,4.613625
7,FINANCE,BAJFINANCE,7780.80,6683.95,-1096.85,-14.096879
11,FMCG,BRITANNIA,4524.80,4848.35,323.55,7.150592
41,FMCG,TATACONSUM,859.32,945.20,85.88,9.993949
22,FMCG,HINDUNILVR,2490.00,2445.25,-44.75,-1.797189
26,FOOD & TOBACCO,ITC,441.00,474.65,33.65,7.630385
32,FOOD & TOBACCO,NESTLEIND,2250.69,2247.30,-3.39,-0.150620
37,INSURANCE,SBILIFE,1302.15,1485.15,183.00,14.053680
19,INSURANCE,HDFCLIFE,634.45,688.20,53.75,8.471905
13,MINING,COALINDIA,297.05,414.05,117.00,39.387309
2,MISCELLANEOUS,APOLLOHOSP,5138.95,6935.10,1796.15,34.951692
1,MISCELLANEOUS,ADANIPORTS,826.00,1136.75,310.75,37.621065
3,PAINTS,ASIANPAINT,3166.10,2472.20,-693.90,-21.916553
40,PHARMACEUTICALS,SUNPHARMA,1159.55,1795.30,635.75,54.827304
12,PHARMACEUTICALS,CIPLA,1184.00,1486.50,302.50,25.548986
14,PHARMACEUTICALS,DRREDDY,1117.38,1214.45,97.07,8.687286
35,POWER,POWERGRID,198.75,336.95,138.20,69.534591
33,POWER,NTPC,244.35,365.45,121.10,49.560057
47,RETAILING,TRENT,2074.30,6652.80,4578.50,220.725064
46,RETAILING,TITAN,3148.80,3308.70,159.90,5.078125
44,SOFTWARE,TCS,3534.20,4244.60,710.40,20.100730
17,SOFTWARE,HCLTECH,1232.50,1898.40,665.90,54.028398
45,SOFTWARE,TECHM,1220.60,1747.45,526.85,43.163198
25,SOFTWARE,INFY,1436.05,1902.25,466.20,32.464051
49,SOFTWARE,WIPRO,406.45,571.65,165.20,40.644606
27,STEEL,JSWSTEEL,776.55,977.35,200.80,25.857961
43,STEEL,TATASTEEL,129.00,142.78,13.78,10.682171
9,TELECOM,BHARTIARTL,918.25,1569.30,651.05,70.901171
16,TEXTILES,GRASIM,1920.46,2598.65,678.19,35.313935

In [153]:
sector_stock_df.to_csv("sector_stock_df",index=False)

In [60]:
daily_return_df

           Ticker        Date  Prev_Close    Close  Daily_Return   Std_Dev
0            SBIN  2023-10-04      602.95   586.25     -0.027697  0.017939
1            SBIN  2023-10-05      586.25   592.15      0.010064  0.017939
2            SBIN  2023-10-06      592.15   594.25      0.003546  0.017939
3            SBIN  2023-10-09      594.25   585.10     -0.015398  0.017939
4            SBIN  2023-10-10      585.10   591.65      0.011195  0.017939
...           ...         ...         ...      ...           ...       ...
14145  BAJAJ-AUTO  2024-11-14     9452.15  9482.95      0.003259  0.017609
14146  BAJAJ-AUTO  2024-11-18     9482.95  9516.50      0.003538  0.017609
14147  BAJAJ-AUTO  2024-11-19     9516.50  9545.70      0.003068  0.017609
14148  BAJAJ-AUTO  2024-11-21     9545.70  9505.00     -0.004264  0.017609
14149  BAJAJ-AUTO  2024-11-22     9505.00  9481.65     -0.002457  0.017609

[14150 rows x 6 columns]

In [61]:
returns_pivot = daily_return_df.pivot(
    index="Date",
    columns="Ticker",
    values="Daily_Return"
)
returns_pivot

correlation_matrix = returns_pivot.corr()
correlation_matrix

Ticker,ADANIENT,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BEL,BHARTIARTL,...,SUNPHARMA,TATACONSUM,TATAMOTORS,TATASTEEL,TCS,TECHM,TITAN,TRENT,ULTRACEMCO,WIPRO
Ticker,,,,,,,,,,,,,,,,,,,,,
ADANIENT,1.000000,0.874233,0.136501,0.291584,0.297736,0.201871,0.356547,0.336033,0.522680,0.282857,...,0.166259,0.203845,0.324072,0.423562,0.115793,0.141678,0.283279,0.190412,0.361153,0.224003
ADANIPORTS,0.874233,1.000000,0.168902,0.274046,0.380514,0.204455,0.398042,0.398770,0.585671,0.316535,...,0.215858,0.220653,0.339240,0.466041,0.132425,0.148034,0.296147,0.201078,0.402490,0.238985
APOLLOHOSP,0.136501,0.168902,1.000000,0.258057,0.179379,0.223899,0.249393,0.223141,0.224593,0.236809,...,0.286229,0.096698,0.212358,0.254732,0.106846,0.169118,0.253360,0.089516,0.272950,0.223736
ASIANPAINT,0.291584,0.274046,0.258057,1.000000,0.126058,0.167651,0.248093,0.296925,0.156953,0.146951,...,0.202262,0.244279,0.105847,0.287051,0.166698,0.162958,0.307404,0.223095,0.280648,0.140643
AXISBANK,0.297736,0.380514,0.179379,0.126058,1.000000,0.198477,0.393684,0.354077,0.330511,0.238601,...,0.143993,0.139743,0.232145,0.370958,0.094669,0.136468,0.145933,0.199748,0.397025,0.207800
BAJAJ-AUTO,0.201871,0.204455,0.223899,0.167651,0.198477,1.000000,0.237656,0.178554,0.233428,0.262053,...,0.149956,0.185130,0.294696,0.283689,0.017592,0.037876,0.201058,0.223401,0.263343,0.102492
BAJAJFINSV,0.356547,0.398042,0.249393,0.248093,0.393684,0.237656,1.000000,0.748724,0.346261,0.257666,...,0.213242,0.304496,0.280171,0.456572,0.234841,0.204276,0.329527,0.201135,0.463109,0.306649
BAJFINANCE,0.336033,0.398770,0.223141,0.296925,0.354077,0.178554,0.748724,1.000000,0.315819,0.291642,...,0.137262,0.236370,0.212749,0.381615,0.174424,0.173360,0.269039,0.229186,0.434558,0.238514
BEL,0.522680,0.585671,0.224593,0.156953,0.330511,0.233428,0.346261,0.315819,1.000000,0.309294,...,0.163533,0.175807,0.367175,0.520364,0.120760,0.222393,0.166766,0.263415,0.435500,0.255853
BHARTIARTL,0.282857,0.316535,0.236809,0.146951,0.238601,0.262053,0.257666,0.291642,0.309294,1.000000,...,0.272226,0.248733,0.269330,0.305351,0.193182,0.272354,0.276039,0.247925,0.354120,0.259132
BPCL,0.455289,0.495116,0.174974,0.215788,0.222936,0.215531,0.345287,0.272608,0.505802,0.265020,...,0.205495,0.156371,0.415680,0.462885,0.175427,0.201632,0.275087,0.212756,0.401650,0.211944
BRITANNIA,0.130656,0.133399,0.231736,0.426896,0.130773,0.094707,0.225477,0.207935,0.073187,0.121229,...,0.187937,0.405006,0.109019,0.118833,0.117658,0.129665,0.073108,0.034253,0.181813,0.169110
CIPLA,0.094237,0.091117,0.231115,0.147017,0.085259,0.043535,0.135928,0.053729,0.082406,0.119961,...,0.414760,0.073225,0.068964,0.131114,0.079022,0.052200,0.107529,0.136473,0.133327,0.087595
COALINDIA,0.494534,0.546201,0.243539,0.194987,0.332553,0.225771,0.279741,0.280244,0.620261,0.267038,...,0.177471,0.213072,0.406315,0.535425,0.095264,0.178172,0.238336,0.254630,0.321222,0.235793
DRREDDY,0.164553,0.160973,0.235447,0.149959,0.091461,0.104888,0.257758,0.088309,0.131476,0.178095,...,0.396690,0.110617,0.200124,0.207221,0.223210,0.220019,0.139990,0.168869,0.251561,0.279840
EICHERMOT,0.331647,0.269610,0.290340,0.257915,0.286162,0.276131,0.241358,0.189579,0.284223,0.294734,...,0.175285,0.172373,0.316619,0.314499,0.143778,0.189579,0.268207,0.234640,0.304245,0.262235
GRASIM,0.344467,0.356102,0.258183,0.344453,0.367054,0.200661,0.435101,0.368981,0.337927,0.297192,...,0.218125,0.282991,0.336306,0.463646,0.179942,0.175112,0.368298,0.241471,0.590119,0.245003
HCLTECH,0.139916,0.152640,0.279180,0.117483,0.107496,0.124517,0.267827,0.183186,0.224038,0.258436,...,0.156100,0.209540,0.269333,0.268718,0.629081,0.548279,0.199440,0.207422,0.205442,0.580666
HDFCBANK,0.338119,0.375306,0.110238,0.264326,0.424932,0.182233,0.318705,0.331634,0.330752,0.211028,...,0.071826,0.108656,0.204987,0.380764,0.045285,0.204668,0.188022,0.102740,0.360211,0.193600
HDFCLIFE,0.216837,0.247058,0.141666,0.206023,0.251477,0.191903,0.347351,0.307100,0.251302,0.215032,...,0.168516,0.214306,0.224162,0.275175,0.115451,0.119529,0.226623,0.202126,0.241821,0.194259
HEROMOTOCO,0.208575,0.202510,0.248150,0.180186,0.172580,0.406800,0.236212,0.171237,0.087770,0.183910,...,0.220460,0.212348,0.290745,0.287774,0.108665,0.111245,0.302478,0.218543,0.295384,0.204582
HINDALCO,0.304965,0.337760,0.062547,0.212252,0.227374,0.216859,0.296243,0.254538,0.375870,0.294152,...,0.254426,0.180973,0.364958,0.630100,0.161046,0.236390,0.249436,0.268629,0.313590,0.262244
HINDUNILVR,-0.000798,0.002373,0.107864,0.269889,0.009841,0.124956,0.139453,0.127433,-0.058292,0.158532,...,0.051341,0.412069,0.088025,0.084733,0.145342,0.131314,0.187474,0.083964,0.165125,0.185422
ICICIBANK,0.394585,0.442291,0.164305,0.158840,0.636787,0.108522,0.415419,0.350008,0.313735,0.366609,...,0.202727,0.120594,0.199677,0.345281,0.166489,0.168655,0.146475,0.121658,0.430209,0.221653
INDUSINDBK,0.391347,0.422433,0.129151,0.180859,0.339662,0.206118,0.422961,0.406267,0.308609,0.231641,...,0.122917,0.273548,0.333362,0.396260,0.085593,0.103154,0.240435,0.199125,0.345070,0.186572
INFY,0.115147,0.149397,0.121671,0.104308,0.086464,-0.003488,0.241346,0.197445,0.164703,0.288844,...,0.143074,0.245191,0.181710,0.180954,0.707884,0.649141,0.215072,0.150991,0.224563,0.571205
ITC,0.245801,0.273772,0.174044,0.275550,0.275000,0.140413,0.303635,0.304402,0.230194,0.260517,...,0.186998,0.302654,0.188563,0.257268,0.152275,0.217814,0.318262,0.151491,0.260144,0.233140
JSWSTEEL,0.405663,0.434604,0.276059,0.333567,0.365965,0.223460,0.447527,0.390933,0.458782,0.364831,...,0.252222,0.235533,0.408713,0.794188,0.209293,0.268991,0.322126,0.256977,0.546643,0.360373
KOTAKBANK,0.243753,0.305839,0.139796,0.181203,0.292041,0.082630,0.273103,0.315903,0.266513,0.318994,...,0.089101,0.197429,0.160207,0.262728,0.115565,0.174737,0.168052,0.081006,0.334773,0.245811
LT,0.483134,0.513973,0.235883,0.223101,0.352082,0.175764,0.398994,0.378917,0.591401,0.323946,...,0.167209,0.168086,0.352993,0.483846,0.217063,0.210316,0.231902,0.185279,0.473175,0.319900
M&M,0.304545,0.319382,0.251028,0.140121,0.235557,0.271628,0.337683,0.267973,0.369500,0.291922,...,0.285572,0.169595,0.400987,0.427431,0.174295,0.219419,0.285280,0.249014,0.418644,0.299970
MARUTI,0.315659,0.302342,0.194062,0.260370,0.260370,0.342006,0.329275,0.281245,0.224642,0.348081,...,0.200875,0.207814,0.405830,0.395827,0.164892,0.147972,0.332282,0.183322,0.349175,0.205204
NESTLEIND,0.115017,0.087844,0.224445,0.282631,0.100346,0.179002,0.273747,0.246978,0.065316,0.106086,...,0.141185,0.375731,0.147044,0.103309,0.114495,0.054905,0.236874,0.136672,0.278187,0.149707
NTPC,0.545958,0.610462,0.194130,0.222065,0.394814,0.202560,0.391227,0.328260,0.607886,0.366185,...,0.230247,0.187077,0.409925,0.533941,0.109948,0.189869,0.334054,0.235735,0.448525,0.202934
ONGC,0.484911,0.521803,0.173657,0.128653,0.313449,0.187871,0.305737,0.316296,0.572377,0.346412,...,0.228145,0.177227,0.436928,0.491860,0.168163,0.233513,0.192694,0.211586,0.404520,0.288966
POWERGRID,0.403946,0.511695,0.178440,0.111665,0.294695,0.168364,0.307035,0.245102,0.544755,0.311227,...,0.246122,0.150892,0.355059,0.502429,0.097295,0.151609,0.208609,0.200542,0.396686,0.166630
RELIANCE,0.487096,0.512734,0.234729,0.294964,0.423456,0.246961,0.407200,0.413337,0.492504,0.365994,...,0.293117,0.207760,0.386583,0.441103,0.247970,0.266063,0.329322,0.282776,0.490380,0.364315
SBILIFE,0.289192,0.284614,0.160706,0.220352,0.183055,0.190212,0.405718,0.335101,0.209939,0.241723,...,0.131143,0.210610,0.224283,0.232114,0.175012,0.154585,0.219542,0.170802,0.266800,0.246337
SBIN,0.544697,0.579515,0.182850,0.107866,0.516122,0.154853,0.419858,0.397694,0.580213,0.290364,...,0.122859,0.117565,0.363322,0.489624,0.162863,0.193755,0.223222,0.276491,0.425495,0.243530
SHRIRAMFIN,0.410299,0.469890,0.291769,0.202540,0.448565,0.301141,0.468792,0.461619,0.475480,0.360798,...,0.210966,0.187776,0.362475,0.436920,0.113654,0.227148,0.254687,0.228691,0.468240,0.298606
SUNPHARMA,0.166259,0.215858,0.286229,0.202262,0.143993,0.149956,0.213242,0.137262,0.163533,0.272226,...,1.000000,0.172296,0.305913,0.260972,0.147690,0.164004,0.214334,0.256380,0.232444,0.192647
TATACONSUM,0.203845,0.220653,0.096698,0.244279,0.139743,0.185130,0.304496,0.236370,0.175807,0.248733,...,0.172296,1.000000,0.188060,0.225776,0.271633,0.212755,0.311259,0.185991,0.244971,0.249105
TATAMOTORS,0.324072,0.339240,0.212358,0.105847,0.232145,0.294696,0.280171,0.212749,0.367175,0.269330,...,0.305913,0.188060,1.000000,0.513418,0.248892,0.279026,0.274322,0.222437,0.353949,0.311794
TATASTEEL,0.423562,0.466041,0.254732,0.287051,0.370958,0.283689,0.456572,0.381615,0.520364,0.305351,...,0.260972,0.225776,0.513418,1.000000,0.235868,0.283649,0.293417,0.218748,0.471723,0.331806
TCS,0.115793,0.132425,0.106846,0.166698,0.094669,0.017592,0.234841,0.174424,0.120760,0.193182,...,0.147690,0.271633,0.248892,0.235868,1.000000,0.578881,0.145473,0.122021,0.238678,0.591427
TECHM,0.141678,0.148034,0.169118,0.162958,0.136468,0.037876,0.204276,0.173360,0.222393,0.272354,...,0.164004,0.212755,0.279026,0.283649,0.578881,1.000000,0.243387,0.150750,0.269904,0.599253
TITAN,0.283279,0.296147,0.253360,0.307404,0.145933,0.201058,0.329527,0.269039,0.166766,0.276039,...,0.214334,0.311259,0.274322,0.293417,0.145473,0.243387,1.000000,0.194345,0.353921,0.259620
TRENT,0.190412,0.201078,0.089516,0.223095,0.199748,0.223401,0.201135,0.229186,0.263415,0.247925,...,0.256380,0.185991,0.222437,0.218748,0.122021,0.150750,0.194345,1.000000,0.295228,0.150452
ULTRACEMCO,0.361153,0.402490,0.272950,0.280648,0.397025,0.263343,0.463109,0.434558,0.435500,0.354120,...,0.232444,0.244971,0.353949,0.471723,0.238678,0.269904,0.353921,0.295228,1.000000,0.291504
WIPRO,0.224003,0.238985,0.223736,0.140643,0.207800,0.102492,0.306649,0.238514,0.255853,0.259132,...,0.192647,0.249105,0.311794,0.331806,0.591427,0.599253,0.259620,0.150452,0.291504,1.000000

In [178]:
import numpy as np

correlation_matrix.index.name = 'Stock_1'
correlation_matrix.columns.name = 'Stock_2'

top_10_corr = (
    correlation_matrix
    .where(np.triu(np.ones(correlation_matrix.shape), k=1).astype(bool))
    .stack()
    .reset_index(name='Correlation')
    .sort_values(by='Correlation', ascending=False)
    .head(10)
)

print(top_10_corr)

         Stock_1     Stock_2  Correlation
0       ADANIENT  ADANIPORTS     0.874233
987     JSWSTEEL   TATASTEEL     0.794188
279   BAJAJFINSV  BAJFINANCE     0.748724
1090        NTPC   POWERGRID     0.711823
943         INFY         TCS     0.707884
704      HCLTECH        INFY     0.689740
944         INFY       TECHM     0.649141
579    COALINDIA        ONGC     0.647817
208     AXISBANK   ICICIBANK     0.636787
840     HINDALCO   TATASTEEL     0.630100

In [179]:
top_10_corr = top_10_corr.reset_index(drop=True)
top_10_corr

      Stock_1     Stock_2  Correlation
0    ADANIENT  ADANIPORTS     0.874233
1    JSWSTEEL   TATASTEEL     0.794188
2  BAJAJFINSV  BAJFINANCE     0.748724
3        NTPC   POWERGRID     0.711823
4        INFY         TCS     0.707884
5     HCLTECH        INFY     0.689740
6        INFY       TECHM     0.649141
7   COALINDIA        ONGC     0.647817
8    AXISBANK   ICICIBANK     0.636787
9    HINDALCO   TATASTEEL     0.630100

In [162]:
top_10_corr.dtypes

Stock_1         object
Stock_2         object
Correlation    float64
dtype: object

In [183]:
heatmap_df = top_10_corr.pivot(
    index='Stock_1',
    columns='Stock_2',
    values='Correlation'
)
heatmap_df

Stock_2,ADANIPORTS,BAJFINANCE,ICICIBANK,INFY,ONGC,POWERGRID,TATASTEEL,TCS,TECHM
Stock_1,,,,,,,,,
ADANIENT,0.874233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AXISBANK,NaN,NaN,0.636787,NaN,NaN,NaN,NaN,NaN,NaN
BAJAJFINSV,NaN,0.748724,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COALINDIA,NaN,NaN,NaN,NaN,0.647817,NaN,NaN,NaN,NaN
HCLTECH,NaN,NaN,NaN,0.68974,NaN,NaN,NaN,NaN,NaN
HINDALCO,NaN,NaN,NaN,NaN,NaN,NaN,0.630100,NaN,NaN
INFY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.707884,0.649141
JSWSTEEL,NaN,NaN,NaN,NaN,NaN,NaN,0.794188,NaN,NaN
NTPC,NaN,NaN,NaN,NaN,NaN,0.711823,NaN,NaN,NaN

In [193]:
heatmap_df = heatmap_df.fillna(heatmap_df.T)
heatmap_df

Stock_2,ADANIPORTS,BAJFINANCE,ICICIBANK,INFY,ONGC,POWERGRID,TATASTEEL,TCS,TECHM
Stock_1,,,,,,,,,
ADANIENT,0.874233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AXISBANK,NaN,NaN,0.636787,NaN,NaN,NaN,NaN,NaN,NaN
BAJAJFINSV,NaN,0.748724,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COALINDIA,NaN,NaN,NaN,NaN,0.647817,NaN,NaN,NaN,NaN
HCLTECH,NaN,NaN,NaN,0.68974,NaN,NaN,NaN,NaN,NaN
HINDALCO,NaN,NaN,NaN,NaN,NaN,NaN,0.630100,NaN,NaN
INFY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.707884,0.649141
JSWSTEEL,NaN,NaN,NaN,NaN,NaN,NaN,0.794188,NaN,NaN
NTPC,NaN,NaN,NaN,NaN,NaN,0.711823,NaN,NaN,NaN

In [62]:
correlation_matrix.to_csv("correlation_matrix",index=False)

In [180]:
top_10_corr.to_csv("top_10_corr",index=False)

In [186]:
heatmap_df.to_csv("heatmap_df",index=False)

In [91]:
df

         Ticker      month  start_price  end_price  monthly_return
602   TATASTEEL 2023-10-01       128.00     118.75       -0.072266
630       TECHM 2023-10-01      1216.20    1133.15       -0.068286
532        SBIN 2023-10-01       602.95     565.55       -0.062028
98   BAJFINANCE 2023-10-01      7967.60    7492.65       -0.059610
28   APOLLOHOSP 2023-10-01      5118.95    4819.90       -0.058420
..          ...        ...          ...        ...             ...
13     ADANIENT 2024-11-01      2949.50    2228.00       -0.244618
27   ADANIPORTS 2024-11-01      1394.40    1136.75       -0.184775
55   ASIANPAINT 2024-11-01      2939.85    2472.20       -0.159073
167   BRITANNIA 2024-11-01      5693.05    4848.35       -0.148374
475        NTPC 2024-11-01       411.35     365.45       -0.111584

[70 rows x 5 columns]

In [64]:
monthly_price  = (df
                  .sort_values("date")
                  .groupby(["Ticker","month"])
                           .agg(
                               start_price = ("close","first"),
                            
                               end_price = ("close","last")
                           )
                           .reset_index()
                           )
monthly_price

       Ticker      month  start_price  end_price
0    ADANIENT 2023-10-01      2387.25    2294.65
1    ADANIENT 2023-11-01      2217.30    2358.55
2    ADANIENT 2023-12-01      2362.70    2848.95
3    ADANIENT 2024-01-01      2917.20    3142.00
4    ADANIENT 2024-02-01      3153.50    3285.40
..        ...        ...          ...        ...
695     WIPRO 2024-07-01       527.35     522.00
696     WIPRO 2024-08-01       521.55     538.40
697     WIPRO 2024-09-01       532.45     541.45
698     WIPRO 2024-10-01       546.75     551.80
699     WIPRO 2024-11-01       551.35     571.65

[700 rows x 4 columns]

In [77]:
monthly_price["monthly_return"] = (
    (monthly_price["end_price"]-monthly_price["start_price"])/ monthly_price["start_price"]*100
)
monthly_price

       Ticker      month  start_price  end_price  monthly_return
0    ADANIENT 2023-10-01      2387.25    2294.65       -3.878940
1    ADANIENT 2023-11-01      2217.30    2358.55        6.370360
2    ADANIENT 2023-12-01      2362.70    2848.95       20.580268
3    ADANIENT 2024-01-01      2917.20    3142.00        7.706019
4    ADANIENT 2024-02-01      3153.50    3285.40        4.182654
..        ...        ...          ...        ...             ...
695     WIPRO 2024-07-01       527.35     522.00       -1.014506
696     WIPRO 2024-08-01       521.55     538.40        3.230754
697     WIPRO 2024-09-01       532.45     541.45        1.690300
698     WIPRO 2024-10-01       546.75     551.80        0.923640
699     WIPRO 2024-11-01       551.35     571.65        3.681872

[700 rows x 5 columns]

In [78]:
top_5_gainers = (
    monthly_price
    .sort_values(['month', 'monthly_return'], ascending=[True, False])
    .groupby('month')
    .head(5)
)
top_5_gainers

         Ticker      month  start_price  end_price  monthly_return
448   NESTLEIND 2023-10-01      2231.52    2423.48        8.602208
182   COALINDIA 2023-10-01       291.90     314.25        7.656732
70   BAJAJ-AUTO 2023-10-01      5016.45    5314.05        5.932482
518     SBILIFE 2023-10-01      1292.45    1367.85        5.833881
658       TRENT 2023-10-01      2059.10    2154.70        4.642805
..          ...        ...          ...        ...             ...
643       TECHM 2024-11-01      1603.65    1747.45        8.967044
363        INFY 2024-11-01      1760.85    1902.25        8.030213
251     HCLTECH 2024-11-01      1757.40    1898.40        8.023216
433         M&M 2024-11-01      2817.65    3012.95        6.931308
629         TCS 2024-11-01      3984.20    4244.60        6.535816

[70 rows x 5 columns]

In [114]:
top_5_gainers.to_csv("top_5_gainers",index=False)

In [79]:
top_5_losers = (
    monthly_price
    .sort_values(['month', 'monthly_return'], ascending=[True, True])
    .groupby('month')
    .head(5)
)
top_5_losers

         Ticker      month  start_price  end_price  monthly_return
602   TATASTEEL 2023-10-01       128.00     118.75       -7.226562
630       TECHM 2023-10-01      1216.20    1133.15       -6.828647
532        SBIN 2023-10-01       602.95     565.55       -6.202836
98   BAJFINANCE 2023-10-01      7967.60    7492.65       -5.961017
28   APOLLOHOSP 2023-10-01      5118.95    4819.90       -5.842018
..          ...        ...          ...        ...             ...
13     ADANIENT 2024-11-01      2949.50    2228.00      -24.461773
27   ADANIPORTS 2024-11-01      1394.40    1136.75      -18.477481
55   ASIANPAINT 2024-11-01      2939.85    2472.20      -15.907274
167   BRITANNIA 2024-11-01      5693.05    4848.35      -14.837389
475        NTPC 2024-11-01       411.35     365.45      -11.158381

[70 rows x 5 columns]

In [81]:
top_5_losers.to_csv("top_5_losers",index=False)

In [70]:
from sqlalchemy import create_engine

DB_USER = "postgres"
DB_PASSWORD = "Yeira23"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "Stock_analysis"

engine = create_engine(
    f"postgresql+psycopg2://postgres:Yeira23@localhost:5432/Stock_analysis"
)

In [112]:
temp

,Ticker,close,date,high,low,month,open,volume,Date,Time
13,TRENT,2059.10,2023-10-03 05:30:00,2086.30,2052.00,2023-10-01,2074.30,543387,2023-10-03,05:30:00
63,TRENT,2022.30,2023-10-04 05:30:00,2055.95,2007.60,2023-10-01,2054.00,551771,2023-10-04,05:30:00
113,TRENT,2047.60,2023-10-05 05:30:00,2058.15,2022.30,2023-10-01,2022.95,461744,2023-10-05,05:30:00
163,TRENT,2072.10,2023-10-06 05:30:00,2091.90,2050.10,2023-10-01,2055.85,444220,2023-10-06,05:30:00
213,TRENT,2079.05,2023-10-09 05:30:00,2089.45,2032.40,2023-10-01,2035.00,487722,2023-10-09,05:30:00
...,...,...,...,...,...,...,...,...,...,...
13963,TRENT,6463.00,2024-11-14 05:30:00,6550.30,6367.05,2024-11-01,6496.00,620489,2024-11-14,05:30:00
14013,TRENT,6301.65,2024-11-18 05:30:00,6453.00,6275.00,2024-11-01,6411.60,828906,2024-11-18,05:30:00
14063,TRENT,6423.85,2024-11-19 05:30:00,6579.90,6359.80,2024-11-01,6359.85,674042,2024-11-19,05:30:00
14113,TRENT,6460.45,2024-11-21 05:30:00,6519.00,6346.20,2024-11-01,6400.00,1511541,2024-11-21,05:30:00
14163,TRENT,6652.80,2024-11-22 05:30:00,6678.00,6430.00,2024-11-01,6459.90,833104,2024-11-22,05:30:00

In [113]:
df = df.sort_values(["Ticker","date"])

In [191]:
tables = {
    "top_10_green": top_10_green,
    "bottom_10_red": bottom_10_red,
    "market_summary": market_summary,
    "top_10_volatility": top_10_volatility,
    "top_5_cumlative":top_5_cumlative,
    "sector_stock_df": sector_stock_df,
    "correlation_matrix": correlation_matrix,
    "top_5_close":top_5_close,
    "top_5_gainers":top_5_gainers,
    "top_5_losers":top_5_losers,
    "plot_df":plot_df,
    "top_10_corr":top_10_corr,
    "heatmap_df":heatmap_df
}

In [192]:
for table_name, df in tables.items():
    df.to_sql(
        table_name,
        engine,
        schema="public",
        if_exists="replace",
        index=False,
        method="multi"
    )

In [129]:
df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10-01,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10-01,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10-01,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10-01,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10-01,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11-01,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11-01,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11-01,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11-01,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11-01,9545.00,619823

In [194]:
query = "SELECT * FROM heatmap_df"
df = pd.read_sql(query, engine)

In [195]:
df = df.astype(float)